{
    "openapi": "3.1.0",
    "x-mcp": {
        "enabled": true
    },
    "info": {
        "title": "thanks.io API",
        "description": "Use thanks.io to send postcards, letters, notecards, windowless letters, and giftcards through our API.",
        "contact": {
            "url": "https://www.thanks.io",
            "email": "support@thanks.io"
        }
    },
    "externalDocs": {
        "description": "Find out more about thanks.io",
        "url": "https://docs.thanks.io"
    },
    "servers": [
        {
            "url": "https://api.thanks.io/api/v2",
            "description": "The main API server for thanks.io"
        }
    ],
    "components": {
        "schemas": {
          "giftcard-group": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Giftcard Brand Grouping Title"
              },
              "brands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "brand_code": {
                      "type": "string",
                      "description": "Code to send to the API to use this brand"
                    },
                    "title": {
                      "type": "string",
                      "description": "Giftcard Brand Title to display to users"
                    },
                    "image": {
                      "type": "string",
                      "description": "Image URL for the brand to display to users"
                    }, 
                    "available_amounts": {
                      "type": "array",
                      "description": "Available amounts for this brand in cents",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "giftcard-group-list": {
            "type": "object",
            "properties": {
              "brands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "brand_code": {
                      "type": "string",
                      "description": "Code to send to the API to use this brand",
                      "example": "amazonus"
                    },
                    "title": {
                      "type": "string",
                      "description": "Giftcard Brand Title to display to users",
                      "example": "Amazon.com"
                    },
                    "image": {
                      "type": "string",
                      "description": "Image URL for the brand to display to users",
                      "example": "https://s3.amazonaws.com/cdn.thanks.io/giftcards/amazonus.png"
                    }, 
                    "available_amounts": {
                      "type": "array",
                      "description": "Available amounts for this brand in cents",
                      "items": {
                        "type": "integer",
                        "example": 1000
                      }
                    },
                    "group": {
                        "type": "string",
                        "description": "Giftcard Brand Grouping Title",
                        "example": "Featured"
                    }
                  }
                }
              }
            }
          }
        },
        "securitySchemes": {
            "noauthAuth": {
                "type": "http",
                "scheme": "noauth"
            },
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Send",
            "description": ""
        },
        {
            "name": "Send with HTML Content",
            "description": "Test"
        },
        {
            "name": "Order Previews",
            "description": "Test"
        },
        {
            "name": "Proof Previews"
        },
        {
            "name": "Sub Accounts"
        },
        {
            "name": "Mailing Lists"
        },
        {
            "name": "Image Templates",
            "description": ""
        },
        {
            "name": "Message Templates",
            "description": ""
        },
        {
            "name": "Handwriting Styles"
        },
        {
            "name": "Recipients"
        },
        {
            "name": "Orders"
        },
        {
            "name": "Giftcards"
        },
        {
            "name": "Image Builder"
        }
    ],
    "paths": {
        "/send/postcard": {
            "post": {
                "tags": [
                    "Order Previews"
                ],
                "summary": "4x6 Postcard Preview",
                "description": "Return Preview images of 4x6 Postcard Send.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "image_template": 6,
                                    "preview": true,
                                    "handwriting_style": 4,
                                    "email_additional": "test@test.com",
                                    "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                                    "recipients": [
                                        {
                                            "name": "Current Resident",
                                            "address": "123 Main Street",
                                            "city": "Fake City",
                                            "province": "NY",
                                            "postal_code": "55555",
                                            "country": "US",
                                            "custom1": "Example Custom 1",
                                            "custom2": "Example Custom 2",
                                            "custom3": "Example Custom 3",
                                            "custom4": "Example Custom 4"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 08 Apr 2025 04:57:52 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Transfer-Encoding": {
                                "schema": {
                                    "type": "string",
                                    "example": "chunked"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "example": "no-cache, private"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "schema": {
                                    "type": "integer",
                                    "example": "120"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "schema": {
                                    "type": "integer",
                                    "example": "119"
                                }
                            },
                            "cf-cache-status": {
                                "schema": {
                                    "type": "string",
                                    "example": "DYNAMIC"
                                }
                            },
                            "Report-To": {
                                "schema": {
                                    "type": "string",
                                    "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v4?s=jxptn%2FqkY7gu7G19%2Bx9gzjCITW89lyGh%2Fs7R9LQLJVwfVDuCQFuUNXTDaoMqQvbMZWxZQvqsd9z4BslvVZSMbpjY1lNwmQgfs91psyJg1bnw%2Bl1QXpGOYu%2FpBUNyZm%2FrgDloYsl8x9ros2JzvQ%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                                }
                            },
                            "NEL": {
                                "schema": {
                                    "type": "string",
                                    "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                                }
                            },
                            "Strict-Transport-Security": {
                                "schema": {
                                    "type": "string",
                                    "example": "max-age=31536000; includeSubDomains; preload"
                                }
                            },
                            "X-Content-Type-Options": {
                                "schema": {
                                    "type": "string",
                                    "example": "nosniff"
                                }
                            },
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "cloudflare"
                                }
                            },
                            "CF-RAY": {
                                "schema": {
                                    "type": "string",
                                    "example": "92cf2fa26ef85078-ORD"
                                }
                            },
                            "Content-Encoding": {
                                "schema": {
                                    "type": "string",
                                    "example": "br"
                                }
                            },
                            "server-timing": {
                                "schema": {
                                    "type": "string",
                                    "example": "cfL4;desc=\"?proto=TCP&rtt=29983&min_rtt=28986&rtt_var=11582&sent=7&recv=8&lost=0&retrans=0&sent_bytes=2801&recv_bytes=3580&delivery_rate=99910&cwnd=241&unsent_bytes=0&cid=01952e3d92f4ace6&ts=3830&x=0\""
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "OK",
                                    "data": {
                                        "previews": [
                                            "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                                            "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/1056d992-b7f8-bf98-5ad5-9d089cd46e62.png"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/send/letter": {
            "post": {
                "tags": [
                    "Order Previews"
                ],
                "summary": "Letter Preview",
                "description": "Return Preview images of Letter Send.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "front_image_url": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/gFBaJJJWRp60op3ZOoK7UaO5I7zi33rdKQGgHylR.png",
                                    "handwriting_style": 5,
                                    "message": "This is a test message",
                                    "mailing_lists": [
                                        5166,
                                        514
                                    ],
                                    "return_name": "Custom Return",
                                    "return_address": "123 Fake Street",
                                    "return_address2": "Unit 1",
                                    "return_city": "Anytown",
                                    "return_state": "NY",
                                    "return_postal_code": "10990",
                                    "preview": true
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 08 Apr 2025 05:03:43 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Transfer-Encoding": {
                                "schema": {
                                    "type": "string",
                                    "example": "chunked"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "OK",
                                    "data": {
                                        "previews": [
                                            "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/9e3212b0-fd22-18a6-fd14-630ffbc66ed8.png"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/send/windowlessletter": {
            "post": {
                "tags": [
                    "Order Previews"
                ],
                "summary": "Windowless Letter",
                "description": "Return Preview images of Windowless Letter Send.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "front_image_url": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/gFBaJJJWRp60op3ZOoK7UaO5I7zi33rdKQGgHylR.png",
                                    "handwriting_style": 5,
                                    "message": "This is a test message",
                                    "preview": true,
                                    "recipients": [
                                        {
                                            "name": "Current Resident",
                                            "address": "123 Main Street",
                                            "city": "Fake City",
                                            "province": "NY",
                                            "postal_code": "55555",
                                            "country": "US"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 08 Apr 2025 05:03:22 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "OK",
                                    "data": {
                                        "previews": [
                                            "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/59be0dca-e2dc-8d90-ea24-8d4b29cbc7c1.png"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/send/notecard": {
            "post": {
                "tags": [
                    "Order Previews"
                ],
                "summary": "Notecard",
                "description": "Return Preview images of Notecard Send.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "image_template": 6,
                                    "handwriting_style": 4,
                                    "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                                    "preview": true,
                                    "recipients": [
                                        {
                                            "name": "Current Resident",
                                            "address": "123 Main Street",
                                            "city": "Fake City",
                                            "province": "NY",
                                            "postal_code": "55555",
                                            "country": "US"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 08 Apr 2025 05:02:58 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "OK",
                                    "data": {
                                        "previews": [
                                            "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                                            "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/cdf1281a-aec7-7122-e9ee-f0dbbc4cc7ef.png"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/send/giftcard": {
            "post": {
                "tags": [
                    "Order Previews"
                ],
                "summary": "Giftcard",
                "description": "Return Preview images of Giftcard Send.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "image_template": 6,
                                    "handwriting_style": 4,
                                    "preview": true,
                                    "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                                    "recipients": [
                                        {
                                            "name": "Current Resident",
                                            "address": "1 Main Street",
                                            "city": "Fake City",
                                            "province": "NY",
                                            "postal_code": "55555",
                                            "country": "US"
                                        }
                                    ],
                                    "giftcard_amount_in_cents": 10000,
                                    "giftcard_brand": "amazonus"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 08 Apr 2025 05:02:29 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "success": true,
                                    "code": 200,
                                    "message": "OK",
                                    "data": {
                                        "previews": [
                                            "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                                            "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/f32ca6b3-293c-98d8-62ed-4ca8b6f33ca6.png"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/proof/postcard": {
            "post": {
                "tags": [
                    "Proof Previews"
                ],
                "summary": "Postcard Proof 6x9",
                "description": "View a proof of front and back of postcard returned as a PDF file.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "to_name": "Sample Recipient",
                                    "to_address": "1 Main Street",
                                    "to_address2": "Apartment 1",
                                    "to_city": "Woodbridge",
                                    "to_state": "NJ",
                                    "to_postal_code": "07095",
                                    "to_country": "US",
                                    "return_name": "6x9 Sample Business Name",
                                    "front_image_url": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645579.png",
                                    "message": "This is an example test postcard message.",
                                    "handwriting_style": "5",
                                    "handwriting_color": "back",
                                    "custom_background_image": "https://s3.amazonaws.com/content.thanks.io/templates/images/c09d39aadfc-3701d4467b8/3c375a60-6de5-11ee-9ea8-7374ba13eca7.png",
                                    "qrcode_url": "https://www.google.com",
                                    "size": "6x9"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Fri, 20 Oct 2023 15:02:38 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "proof_url": "https://s3.amazonaws.com/content.thanks.io/sls-order-proofs/pdfs/b048b2f4-6c0c-7240-e4d1-1211f2619388.pdf"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sub-accounts": {
            "get": {
                "tags": [
                    "Sub Accounts"
                ],
                "summary": "List",
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 7,
                                            "user_id": 2,
                                            "title": "Test Sub Account",
                                            "return_name": "Your Business",
                                            "return_address": "123 Main Street",
                                            "return_address2": "Apartment 1",
                                            "return_city": "Fake City",
                                            "return_state": "NY",
                                            "return_postal_code": "55555",
                                            "default_envelope": null,
                                            "created_at": "2020-03-26 17:44:31",
                                            "updated_at": "2020-03-31 02:12:07"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Sub Accounts"
                ],
                "summary": "Create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "title": "New Sub Account 22",
                                    "return_name": "Your Business",
                                    "return_address": "123 Main Street",
                                    "return_address2": "Apartment 1",
                                    "return_city": "Fake City",
                                    "return_state": "NY",
                                    "return_postal_code": "55555"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "user_id": 2,
                                    "title": "New Sub Account 2",
                                    "return_name": "Your Business",
                                    "return_address": "123 Main Street",
                                    "return_address2": "Apartment 1",
                                    "return_city": "Fake City",
                                    "return_state": "NY",
                                    "return_postal_code": "55555",
                                    "updated_at": "2020-03-31 02:17:53",
                                    "created_at": "2020-03-31 02:17:53",
                                    "id": 9
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sub-accounts/8": {
            "get": {
                "tags": [
                    "Sub Accounts"
                ],
                "summary": "Show",
                "description": "Show details for a specific Sub Account.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "id": 8,
                                    "user_id": 2,
                                    "title": "New Sub Account",
                                    "return_name": "Your Business",
                                    "return_address": "123 Main Street",
                                    "return_address2": "Apartment 1",
                                    "return_city": "Fake City",
                                    "return_state": "NY",
                                    "return_postal_code": "55555",
                                    "default_envelope": null,
                                    "created_at": "2020-03-31 02:17:33",
                                    "updated_at": "2020-03-31 02:17:33"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Sub Accounts"
                ],
                "summary": "Update",
                "requestBody": {
                    "content": {
                        "*/*": {
                            "schema": {
                                "type": "string",
                                "example": "\"{\\n    \\\"title\\\": \\\"API Update\\\",\\n    \\\"return_name\\\": \\\"Your Business\\\",\\n    \\\"return_address\\\": \\\"123 Main Street\\\",\\n    \\\"return_address2\\\": \\\"Apartment 1\\\",\\n    \\\"return_city\\\": \\\"Fake City\\\",\\n    \\\"return_state\\\": \\\"NY\\\"\\n}\""
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "id": 8,
                                    "user_id": 2,
                                    "title": "API Update",
                                    "return_name": "Your Business",
                                    "return_address": "123 Main Street",
                                    "return_address2": "Apartment 1",
                                    "return_city": "Fake City",
                                    "return_state": "NY",
                                    "return_postal_code": "55555",
                                    "default_envelope": null,
                                    "created_at": "2020-03-31 02:17:33",
                                    "updated_at": "2020-04-06 02:34:02"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sub-accounts/7": {
            "delete": {
                "tags": [
                    "Sub Accounts"
                ],
                "summary": "Delete",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/mailing-lists/": {
            "post": {
                "tags": [
                    "Mailing Lists"
                ],
                "summary": "Create",
                "description": "- qrcode_url - this will be used as the default QR Code URL when placing orders with this mailiing list",
                "requestBody": {
                    "content": {
                        "*/*": {
                            "schema": {
                                "type": "string",
                                "example": "\"{\\n    \\\"description\\\": \\\"New Mailing List\\\",\\n    \\\"sub_account\\\": 7,\\n    \\\"qrcode_url\\\" : \\\"https://www.google.com\\\"\\n}\""
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "type": "manual",
                                    "description": "New Mailing List (Created via API 09/07/2021)",
                                    "sub_account_id": 7,
                                    "user_id": 2,
                                    "updated_at": "2021-09-07 02:10:32",
                                    "created_at": "1 second ago",
                                    "id": 610
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mailing-lists/buy-radius-search": {
            "post": {
                "tags": [
                    "Mailing Lists"
                ],
                "summary": "Append Radius Search ($.05 per record) To Existing List",
                "description": "This call will purchase a radius search mailing listing and add it to your account. Each record added to the mailing list costs $.05.\n\n- address \\[required\\] - Search Street Address (Example: 123 Main St) to use for center of nearest neighbor search.\n- mailing_list_id \\[requred\\] - Mailing List ID to append radius search leads to.\n- postal_code \\[required\\] = Postal Code to use for center of nearest neighbor search.\n- record_count \\[required\\] - Number of nearest neighbors to search for. Valid numbers are 1-10000\n- record_types \\[optional\\] - Which type of records to search for. Valid options are 'all', 'likelytomove', 'likelytorefi', 'absenteeowner', 'highnetworth', 'majorityhomeequity', 'homefreeclear', 'underwater', 'kidsinhousehold', 'newhomeowner', 'firsttimehomebuyer', 'renters', 'retiring', 'retired', 'pool', 'onlybusinesses', 'newbusiness'. Defaults to 'all'\n- append_data \\[optional\\] - Append phone and email to each record for an additional fee ($.20 per record). Defaults to false.\n- use_property_owner \\[optional\\] - Use Property Owners Address when searching for a commercial record_type. Defaults to false\n- include_condos \\[optional\\] - Include condos in search. Defaults to true",
                "requestBody": {
                    "content": {
                        "*/*": {
                            "schema": {
                                "type": "string",
                                "example": "\"{\\n    \\\"address\\\": \\\"123 Main Street\\\",\\n    \\\"postal_code\\\": \\\"55555\\\",\\n    \\\"record_types\\\": \\\"all\\\",\\n    \\\"mailing_list_id\\\": \\\"1236\\\",\\n    \\\"record_count\\\": 1,\\n    \\\"include_condos\\\": false,\\n    \\\"append_data\\\": false,\\n    \\\"use_property_owner\\\": false\\n}\""
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Wed, 22 Feb 2023 17:45:20 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "status": "success",
                                    "mailing_list_id": 1236,
                                    "failure": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mailing-lists": {
            "get": {
                "tags": [
                    "Mailing Lists"
                ],
                "summary": "List",
                "description": "sub_account is optional.",
                "parameters": [
                    {
                        "name": "items_per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "5"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 515,
                                            "user_id": 2,
                                            "sub_account_id": null,
                                            "type": "map",
                                            "description": "Mailing list (Map) created 03/27/2020",
                                            "file": null,
                                            "field_map": null,
                                            "shape_data": "{\"type\":\"rectangle\",\"count\":30,\"northeast\":{\"lat\":41.50233372463283,\"lng\":-73.95891380310059},\"southwest\":{\"lat\":41.50130521936773,\"lng\":-73.96028709411621}}",
                                            "total_recipients": 30,
                                            "processed": 1,
                                            "created_at": "4 days ago",
                                            "updated_at": "2020-03-27 02:24:23",
                                            "leads_data": null,
                                            "deleted_at": null
                                        },
                                        {
                                            "id": 514,
                                            "user_id": 2,
                                            "sub_account_id": null,
                                            "type": "manual",
                                            "description": "Multiple Test",
                                            "file": null,
                                            "field_map": null,
                                            "shape_data": null,
                                            "total_recipients": 1,
                                            "processed": 1,
                                            "created_at": "2 weeks ago",
                                            "updated_at": "2020-03-10 13:33:04",
                                            "leads_data": null,
                                            "deleted_at": null
                                        },
                                        {
                                            "id": 513,
                                            "user_id": 2,
                                            "sub_account_id": null,
                                            "type": "map",
                                            "description": "Mailing list (Map) created 03/06/2020",
                                            "file": null,
                                            "field_map": null,
                                            "shape_data": "{\"type\":\"rectangle\",\"count\":23,\"northeast\":{\"lat\":41.49198222373539,\"lng\":-73.97047233581544},\"southwest\":{\"lat\":41.48561706807948,\"lng\":-73.97532176971437}}",
                                            "total_recipients": 23,
                                            "processed": 1,
                                            "created_at": "3 weeks ago",
                                            "updated_at": "2020-03-06 20:02:12",
                                            "leads_data": null,
                                            "deleted_at": null
                                        },
                                        {
                                            "id": 512,
                                            "user_id": 2,
                                            "sub_account_id": null,
                                            "type": "map",
                                            "description": "Mailing list (Map) created 03/06/2020",
                                            "file": null,
                                            "field_map": null,
                                            "shape_data": "{\"type\":\"rectangle\",\"count\":4,\"northeast\":{\"lat\":41.49018204111472,\"lng\":-73.97163105010988},\"southwest\":{\"lat\":41.487417377546755,\"lng\":-73.9750213623047}}",
                                            "total_recipients": 4,
                                            "processed": 1,
                                            "created_at": "3 weeks ago",
                                            "updated_at": "2020-03-06 20:01:57",
                                            "leads_data": null,
                                            "deleted_at": null
                                        },
                                        {
                                            "id": 511,
                                            "user_id": 2,
                                            "sub_account_id": null,
                                            "type": "map",
                                            "description": "Mailing list (Map) created 03/06/2020",
                                            "file": null,
                                            "field_map": null,
                                            "shape_data": "{\"type\":\"rectangle\",\"count\":39,\"northeast\":{\"lat\":41.49140359906281,\"lng\":-73.96489334106447},\"southwest\":{\"lat\":41.48455614800461,\"lng\":-73.97459220886232}}",
                                            "total_recipients": 39,
                                            "processed": 1,
                                            "created_at": "3 weeks ago",
                                            "updated_at": "2020-03-06 20:01:35",
                                            "leads_data": null,
                                            "deleted_at": null
                                        }
                                    ],
                                    "links": {
                                        "first": "http://develop.dashboard.thanks.io/api/v2/mailing-lists?page=1",
                                        "last": "http://develop.dashboard.thanks.io/api/v2/mailing-lists?page=21",
                                        "prev": null,
                                        "next": "http://develop.dashboard.thanks.io/api/v2/mailing-lists?page=2"
                                    },
                                    "meta": {
                                        "current_page": 1,
                                        "from": 1,
                                        "last_page": 21,
                                        "path": "http://develop.dashboard.thanks.io/api/v2/mailing-lists",
                                        "per_page": "5",
                                        "to": 5,
                                        "total": 103
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mailing-lists/{mailing_list_id}/recipients": {
            "get": {
                "tags": [
                    "Mailing Lists"
                ],
                "summary": "Recipients",
                "description": "* limit is optional.  max is 10000\n* updated_since is optional.  format is [Y-m-d H:i:s]",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "1000"
                    },
                    {
                        "name": "updated_since",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2020-04-06 01:55:50"
                    },
                    {
                        "name": "mailing_list_id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "current_page": 1,
                                    "data": [
                                        {
                                            "id": 293345,
                                            "mailing_list_id": 514,
                                            "session_id": null,
                                            "name": "John Doe",
                                            "address": "123 Main Street",
                                            "address2": null,
                                            "city": "Austin",
                                            "province": "TX",
                                            "postal_code": "78703",
                                            "country": "US",
                                            "dob": null,
                                            "custom1": null,
                                            "custom2": null,
                                            "deliverability": null,
                                            "can_deliver": true,
                                            "created_at": "2020-03-10 13:33:04",
                                            "updated_at": "2020-04-06 01:57:50"
                                        }
                                    ],
                                    "first_page_url": "http://develop.dashboard.thanks.io/api/v2/mailing-lists/514/recipients?page=1",
                                    "from": 1,
                                    "last_page": 1,
                                    "last_page_url": "http://develop.dashboard.thanks.io/api/v2/mailing-lists/514/recipients?page=1",
                                    "next_page_url": null,
                                    "path": "http://develop.dashboard.thanks.io/api/v2/mailing-lists/514/recipients",
                                    "per_page": "1000",
                                    "prev_page_url": null,
                                    "to": 1,
                                    "total": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mailing-lists/{mailing_list_id}": {
            "delete": {
                "tags": [
                    "Mailing Lists"
                ],
                "summary": "Delete",
                "parameters": [
                    {
                        "name": "mailing_list_id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/image-templates": {
            "get": {
                "tags": [
                    "Image Templates"
                ],
                "summary": "List By Type",
                "description": "sub_account is optional.",
                "parameters": [
                    {
                        "name": "items_per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "5"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "letter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/message-templates": {
            "get": {
                "tags": [
                    "Message Templates"
                ],
                "summary": "List By Type",
                "parameters": [
                    {
                        "name": "items_per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "giftcard"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/handwriting-styles": {
            "get": {
                "tags": [
                    "Handwriting Styles"
                ],
                "summary": "List",
                "security": [
                    {
                        "noauthAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            },
                            "Transfer-Encoding": {
                                "schema": {
                                    "type": "string",
                                    "example": "chunked"
                                }
                            },
                            "Connection": {
                                "schema": {
                                    "type": "string",
                                    "example": "keep-alive"
                                }
                            },
                            "Cache-Control": {
                                "schema": {
                                    "type": "string",
                                    "example": "no-cache, private"
                                }
                            },
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Sun, 05 Apr 2020 17:27:45 GMT"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "schema": {
                                    "type": "integer",
                                    "example": "150"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "schema": {
                                    "type": "integer",
                                    "example": "149"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "handwriting_style_id": "1",
                                            "name": "Hi Clarice"
                                        },
                                        {
                                            "handwriting_style_id": "2",
                                            "name": "Practiced Sharpie"
                                        },
                                        {
                                            "handwriting_style_id": "3",
                                            "name": "Bold Note"
                                        },
                                        {
                                            "handwriting_style_id": "4",
                                            "name": "Foxy Lady"
                                        },
                                        {
                                            "handwriting_style_id": "5",
                                            "name": "That Dude"
                                        },
                                        {
                                            "handwriting_style_id": "6",
                                            "name": "Normal Print"
                                        },
                                        {
                                            "handwriting_style_id": "7",
                                            "name": "Shopping List"
                                        },
                                        {
                                            "handwriting_style_id": "8",
                                            "name": "Lazy Note"
                                        },
                                        {
                                            "handwriting_style_id": "9",
                                            "name": "Blurred Lines"
                                        },
                                        {
                                            "handwriting_style_id": "10",
                                            "name": "Birthday Card"
                                        },
                                        {
                                            "handwriting_style_id": "11",
                                            "name": "Scully, Not Molder"
                                        },
                                        {
                                            "handwriting_style_id": "12",
                                            "name": "Wow! Signal"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/recipients": {
            "post": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Address Append and Recipient Create using/ Email Address",
                "description": "Add a recipeint using email address. If no/invalid address is specified and a valid email address is, we’ll attempt to look up a valid street address using the email address for a fee.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "mailing_list": 1,
                                    "email": "testemail@thanks.io"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Mon, 30 Dec 2024 20:05:25 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "province": "NY",
                                    "city": "Warwick",
                                    "name": "Example Name",
                                    "company": "",
                                    "dob": "",
                                    "country": "US",
                                    "address": "1 Test Street",
                                    "address2": "",
                                    "email": "testemail@thanks.io",
                                    "phone": "",
                                    "custom1": null,
                                    "custom2": null,
                                    "custom3": null,
                                    "custom4": null,
                                    "postal_code": "10990",
                                    "id": 18092812,
                                    "mailing_list_id": 1
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Search Recipients By Email",
                "description": "Search for recipients by email address.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "current_page": 1,
                                    "data": [
                                        {
                                            "id": 296446,
                                            "mailing_list_id": 514,
                                            "session_id": null,
                                            "name": "Jane Doe",
                                            "address": "123 Main Street",
                                            "address2": null,
                                            "city": "Kansas City",
                                            "province": "MO",
                                            "postal_code": "64105",
                                            "country": "US",
                                            "dob": null,
                                            "custom1": null,
                                            "custom2": null,
                                            "deliverability": null,
                                            "can_deliver": true,
                                            "created_at": "2020-04-06 01:56:48",
                                            "updated_at": "2020-04-06 01:56:48"
                                        }
                                    ],
                                    "first_page_url": "https://develop-dashboard.thanks.io/api/recipients?page=1",
                                    "from": 1,
                                    "last_page": 1,
                                    "last_page_url": "https://develop-dashboard.thanks.io/api/recipients?page=1",
                                    "next_page_url": null,
                                    "path": "https://develop-dashboard.thanks.io/api/recipients",
                                    "per_page": 100,
                                    "prev_page_url": null,
                                    "to": 1,
                                    "total": 1
                                }
                            }
                        }
                    }
                }
            }
        },
        "/recipients_multi": {
            "post": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Create Multiple Recipients",
                "description": "Add multiple recipients at once",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": [
                                    {
                                        "mailing_list": 1,
                                        "name": "Tobias First",
                                        "address": "987 Main Street",
                                        "address2": null,
                                        "city": "LENEXA",
                                        "province": "KS",
                                        "postal_code": "66216",
                                        "country": "US",
                                        "dob": "04/23/1981",
                                        "custom1": null,
                                        "custom2": null,
                                        "email": "testemail@thanks.io",
                                        "phone": "1234567890"
                                    },
                                    {
                                        "mailing_list": 1,
                                        "name": "Tobias Second",
                                        "address": "654 Main Street",
                                        "address2": null,
                                        "city": "LENEXA",
                                        "province": "KS",
                                        "postal_code": "66216",
                                        "country": "US",
                                        "dob": "04/23/1981",
                                        "custom1": null,
                                        "custom2": null,
                                        "email": "testemail@thanks.io",
                                        "phone": "1234567890"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Sun, 16 Oct 2022 14:26:20 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": [
                                    {
                                        "province": "KS",
                                        "city": "Lenexa",
                                        "name": "Tobias First",
                                        "company": null,
                                        "dob": "04/23/1981",
                                        "country": "US",
                                        "address": "987 Main Street",
                                        "address2": "",
                                        "email": "testemail@thanks.io",
                                        "phone": "1234567890",
                                        "custom1": null,
                                        "custom2": null,
                                        "postal_code": "66216"
                                    },
                                    {
                                        "province": "KS",
                                        "city": "Lenexa",
                                        "name": "Tobias Second",
                                        "company": null,
                                        "dob": "04/23/1981",
                                        "country": "US",
                                        "address": "654 Main Street",
                                        "address2": "",
                                        "email": "testemail@thanks.io",
                                        "phone": "1234567890",
                                        "custom1": null,
                                        "custom2": null,
                                        "postal_code": "66216"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/recipients/delete-by-address": {
            "post": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Delete a Recipient By Address",
                "description": "* **mailing_list** *[Required]* - ID of mailing list to remove recipient from\n\n* **address** *[Required]*\n\n* **postal_code** *[Required]*",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "mailing_list": 540,
                                    "address": "123 Main Street",
                                    "city": "LENEXA",
                                    "province": "KS",
                                    "postal_code": "66216",
                                    "country": "US"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "status": "Recipient 297230 Deleted"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/recipients/296446": {
            "get": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Get Recipient Details",
                "description": "Gets a specific recipient by ID",
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "id": 296446,
                                    "mailing_list_id": 514,
                                    "session_id": null,
                                    "name": "Jane Doe",
                                    "address": "123 Main Street",
                                    "address2": null,
                                    "city": "Kansas City",
                                    "province": "MO",
                                    "postal_code": "64105",
                                    "country": "US",
                                    "dob": null,
                                    "custom1": null,
                                    "custom2": null,
                                    "deliverability": null,
                                    "can_deliver": true,
                                    "created_at": "2020-04-06 01:56:48",
                                    "updated_at": "2020-04-06 01:56:48",
                                    "mailing_list": {
                                        "id": 514,
                                        "user_id": 2,
                                        "sub_account_id": null,
                                        "type": "manual",
                                        "description": "Mailing List Test",
                                        "file": null,
                                        "field_map": null,
                                        "shape_data": null,
                                        "total_recipients": 2,
                                        "processed": 1,
                                        "created_at": "3 weeks ago",
                                        "updated_at": "2020-04-06 01:56:48",
                                        "leads_data": null,
                                        "deleted_at": null
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Update Recipient",
                "description": "Update details of a specific recipient by ID.",
                "requestBody": {
                    "content": {
                        "*/*": {
                            "schema": {
                                "type": "string",
                                "example": "\"{\\n  \\\"name\\\":\\\"Jane Doe\\\",\\n  \\\"address\\\":\\\"123 Main Street\\\",\\n  \\\"address2\\\": \\\"Apartment 1\\\",\\n  \\\"city\\\":\\\"Kansas City\\\",\\n  \\\"province\\\":\\\"MO\\\",\\n  \\\"postal_code\\\":\\\"64105\\\",\\n  \\\"country\\\":\\\"US\\\",\\n  \\\"dob\\\":\\\"04/23/1981\\\",\\n  \\\"custom1\\\":\\\"Custom 1\\\",\\n  \\\"custom2\\\":\\\"Custom 2\\\"\\n}\""
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        },
                        "example": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "id": 296446,
                                    "mailing_list_id": 514,
                                    "session_id": null,
                                    "name": "Jane Doe",
                                    "address": "123 Main Street",
                                    "address2": "Apartment 1",
                                    "city": "Kansas City",
                                    "province": "MO",
                                    "postal_code": "64105",
                                    "country": "US",
                                    "dob": "04/23/1981",
                                    "custom1": "Custom 1",
                                    "custom2": "Custom 2",
                                    "deliverability": null,
                                    "can_deliver": true,
                                    "created_at": "2020-04-06 01:56:48",
                                    "updated_at": "2020-04-06 02:24:43",
                                    "mailing_list": {
                                        "id": 514,
                                        "user_id": 2,
                                        "sub_account_id": null,
                                        "type": "manual",
                                        "description": "Mailing List Test",
                                        "file": null,
                                        "field_map": null,
                                        "shape_data": null,
                                        "total_recipients": 2,
                                        "processed": 1,
                                        "created_at": "3 weeks ago",
                                        "updated_at": "2020-04-06 01:56:48",
                                        "leads_data": null,
                                        "deleted_at": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/recipients/293401": {
            "delete": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Delete a Recipient",
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "text/html; charset=UTF-8"
                                }
                            }
                        },
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Recipient Deleted"
                            }
                        }
                    }
                }
            }
        },
        "/recipients/lookup": {
            "post": {
                "tags": [
                    "Recipients"
                ],
                "summary": "Address Append with Email",
                "description": "Look up a valid street address using the email address for a fee. This does not save the recipient to a mailing list.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "email": "testemail@thanks.io"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Date": {
                                "schema": {
                                    "type": "string",
                                    "example": "Tue, 07 Jan 2025 03:12:21 GMT"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "province": "NY",
                                    "city": "Warwick",
                                    "name": "Test Name",
                                    "company": "",
                                    "dob": "",
                                    "country": "US",
                                    "address": "123 Main Street",
                                    "address2": "",
                                    "email": "testemail@thanks.io",
                                    "phone": "1234567890",
                                    "custom1": null,
                                    "custom2": null,
                                    "custom3": null,
                                    "custom4": null,
                                    "postal_code": "10990-2623",
                                    "id": null,
                                    "mailing_list_id": null
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{order_id}/track": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Track Order",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "Server": {
                                "schema": {
                                    "type": "string",
                                    "example": "nginx/1.14.0 (Ubuntu)"
                                }
                            },
                            "Content-Type": {
                                "schema": {
                                    "type": "string",
                                    "example": "application/json"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                },
                                "example": {
                                    "data": {
                                        "id": 37844,
                                        "order": {
                                            "sub_account_id": null,
                                            "type": "postcard",
[...]
