{
  "openapi": "3.1.0",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "thanks.io API",
    "description": "Use thanks.io to send postcards, letters, notecards, windowless letters, and giftcards through our API.",
    "contact": {
      "url": "https://www.thanks.io",
      "email": "support@thanks.io"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about thanks.io",
    "url": "https://docs.thanks.io"
  },
  "servers": [
    {
      "url": "https://api.thanks.io/api/v2",
      "description": "The main API server for thanks.io"
    }
  ],
  "components": {
    "examples": {
      "recipient-example": {
        "summary": "Example Recipient",
        "value": {
          "id": 18113288,
          "mailing_list_id": 1,
          "name": "Tobias Example",
          "company": "thanks.io",
          "address": "12345 Main Street",
          "address2": "Apartment 1",
          "city": "Any Town",
          "province": "NY",
          "postal_code": "12345",
          "country": "US",
          "dob": "1981-04-23",
          "email": "tobias@example.com",
          "phone": "845-988-6485",
          "custom1": "Unique Info",
          "custom2": "For example a product code or customer ID",
          "custom3": "",
          "custom4": "",
          "created_at": "2025-06-27T14:57:11.000000Z",
          "updated_at": "2025-06-27T14:57:11.000000Z",
          "mailing_list": {
            "id": 1,
            "user_id": 2,
            "sub_account_id": null,
            "type": "manual",
            "description": "Sphere Contacts Mailing List",
            "qrcode_url": null,
            "total_recipients": 1,
            "processed": true,
            "is_suppression_list": false,
            "total_scans": 1,
            "unique_scans": 1,
            "last_scan": "2025-07-13T13:57:11.000000Z",
            "total_sends": 2,
            "last_send": "2025-07-06T13:57:11.000000Z",
            "created_at": "6 years ago",
            "updated_at": "2025-06-27T14:57:11.000000Z"
          }
        }
      }
    },
    "schemas": {
      "giftcard-group": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Giftcard Brand Grouping Title"
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "brand_code": {
                  "type": "string",
                  "description": "Code to send to the API to use this brand"
                },
                "title": {
                  "type": "string",
                  "description": "Giftcard Brand Title to display to users"
                },
                "image": {
                  "type": "string",
                  "description": "Image URL for the brand to display to users"
                },
                "available_amounts": {
                  "type": "array",
                  "description": "Available amounts for this brand in cents",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "giftcard-group-list": {
        "type": "object",
        "properties": {
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "brand_code": {
                  "type": "string",
                  "description": "Code to send to the API to use this brand",
                  "example": "amazonus"
                },
                "title": {
                  "type": "string",
                  "description": "Giftcard Brand Title to display to users",
                  "example": "Amazon.com"
                },
                "image": {
                  "type": "string",
                  "description": "Image URL for the brand to display to users",
                  "example": "https://s3.amazonaws.com/cdn.thanks.io/giftcards/amazonus.png"
                },
                "available_amounts": {
                  "type": "array",
                  "description": "Available amounts for this brand in cents",
                  "items": {
                    "type": "integer",
                    "example": 1000
                  }
                },
                "group": {
                  "type": "string",
                  "description": "Giftcard Brand Grouping Title",
                  "example": "Featured"
                }
              }
            }
          }
        }
      },
      "mailing-list": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "user_id": {
            "type": "integer",
            "example": 2
          },
          "sub_account_id": {
            "type": "integer",
            "nullable": true
          },
          "type": {
            "type": "string",
            "example": "manual"
          },
          "description": {
            "type": "string",
            "example": "Walter Test"
          },
          "qrcode_url": {
            "type": "string",
            "nullable": true
          },
          "total_recipients": {
            "type": "integer",
            "example": 1
          },
          "processed": {
            "type": "boolean",
            "example": true
          },
          "is_suppression_list": {
            "type": "boolean",
            "example": false
          },
          "total_scans": {
            "type": "integer",
            "example": 0
          },
          "unique_scans": {
            "type": "integer",
            "example": 0
          },
          "last_scan": {
            "type": "string",
            "nullable": true
          },
          "total_sends": {
            "type": "integer",
            "example": 0
          },
          "last_send": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "example": "2018-07-15T06:06:57.000000Z",
            "format": "date-time"
          },
          "created_at_diff": {
            "type": "string",
            "example": "6 years ago",
            "description": "Human friendly time since created"
          },
          "updated_at": {
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z",
            "format": "date-time"
          }
        }
      },
      "recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 18113288,
            "readOnly": true
          },
          "mailing_list_id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Tobias Example"
          },
          "company": {
            "type": "string",
            "example": "www.thanks.io"
          },
          "address": {
            "type": "string",
            "example": "123 Main Street"
          },
          "address2": {
            "type": "string",
            "example": "Apartment 1"
          },
          "city": {
            "type": "string",
            "example": "Any Town"
          },
          "province": {
            "type": "string",
            "description": "State or Province",
            "example": "KS"
          },
          "postal_code": {
            "type": "string",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "dob": {
            "type": "string",
            "description": "Date of Birth in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "1981-04-23"
          },
          "email": {
            "type": "string",
            "example": "tobias@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1 (555) 123-4567"
          },
          "custom1": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Unique Info"
          },
          "custom2": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "For example a product code or customer ID"
          },
          "custom3": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "custom4": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "mailing-list": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/mailing-list"
              }
            ],
            "description": "The mailing list this recipient belongs to"
          },
          "created_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          },
          "updated_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          }
        }
      },
      "recipient-array": {
        "type": "array",
        "description": "Array of recipient objects",
        "items": {
          "$ref": "#/components/schemas/recipient"
        }
      },
      "recipient-create": {
        "type": "object",
        "anyOf": [
          {
            "title": "Create Recipient by Address",
            "description": "Create a recipient by providing address details",
            "summary": "Create Recipient by Address",
            "required": [
              "mailing_list_id",
              "address"
            ]
          },
          {
            "title": "Create Recipient by Email",
            "description": "Create a recipient by providing email address",
            "summary": "Create Recipient by Email",
            "required": [
              "mailing_list_id",
              "email"
            ]
          }
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 18113288,
            "readOnly": true
          },
          "mailing_list_id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Tobias Example"
          },
          "company": {
            "type": "string",
            "example": "www.thanks.io"
          },
          "address": {
            "type": "string",
            "example": "123 Main Street"
          },
          "address2": {
            "type": "string",
            "example": "Apartment 1"
          },
          "city": {
            "type": "string",
            "example": "Any Town"
          },
          "province": {
            "type": "string",
            "description": "State or Province",
            "example": "KS"
          },
          "postal_code": {
            "type": "string",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "dob": {
            "type": "string",
            "description": "Date of Birth in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "1981-04-23"
          },
          "email": {
            "type": "string",
            "example": "tobias@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1 (555) 123-4567"
          },
          "custom1": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Unique Info"
          },
          "custom2": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "For example a product code or customer ID"
          },
          "custom3": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "custom4": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "mailing-list": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/mailing-list"
              }
            ],
            "description": "The mailing list this recipient belongs to"
          },
          "created_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          },
          "updated_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Access token is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "MailingListDoesNotExist": {
        "description": "The specified mailing list does not exist",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Mailing List Does Not Exist"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Not Found"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "noauthAuth": {
        "type": "http",
        "scheme": "noauth"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Recipients"
    },
    {
      "name": "Mailing Lists"
    },
    {
      "name": "Send Mailer"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Message Templates",
      "description": ""
    },
    {
      "name": "Handwriting Styles"
    },
    {
      "name": "Giftcards"
    },
    {
      "name": "Dynamic Images",
      "description": ""
    },
    {
      "name": "Image Builder"
    },
    {
      "name": "Sub Accounts"
    }
  ],
  "paths": {
    "/recipients/{recipientId}": {
      "parameters": [
        {
          "name": "recipientId",
          "in": "path",
          "description": "ID of recipient",
          "required": true,
          "schema": {
            "type": "integer",
            "example": 296446
          }
        }
      ],
      "get": {
        "tags": ["Recipients"],
        "operationId": "getRecipientsDetails",
        "summary": "Get Details",
        "description": "Gets a recipient by ID. Returns a single recipient object.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient"
                },
                "examples": {
                  "recipient": {
                    "$ref": "#/components/examples/recipient-example"
                  }            
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Recipients"],
        "summary": "Update Recipient",
        "operationId": "updateRecipientDetails",
        "description": "Update details of a specific recipient by ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recipient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient"
                },
                "examples": {
                  "recipient": {
                    "$ref": "#/components/examples/recipient-example"
                  }            
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MailingListDoesNotExist"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Recipients"],
        "operationId": "deleteRecipient",
        "summary": "Delete a Recipient",
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/recipients": {
      "post": {
        "tags": ["Recipients"],
        "operationId": "createRecipient",
        "summary": "Create Recipient",
        "description": "Add a recipient. If no/invalid address is specified and a valid email address is, we’ll attempt to look up a valid street address using the email address for a fee.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recipient-create"
              },
              "examples": {
                "Adding By Address": {
                  "value": {
                    "mailing_list_id": 1,
                    "name": "Tobias Example",
                    "company": "thanks.io",
                    "address": "12345 Main Street",
                    "address2": "Apartment 1",
                    "city": "Any Town",
                    "province": "NY",
                    "postal_code": "12345",
                    "country": "US",
                    "dob": "1981-04-23",
                    "email": "tobias@example.com",
                    "phone": "845-988-6485",
                    "custom1": "Unique Info",
                    "custom2": "For example a product code or customer ID",
                    "custom3": "",
                    "custom4": ""
                  }
                },
                "Adding By Email": {
                  "value": {
                    "mailing_list_id": 1,
                    "email": "tobias@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient"
                },
                "examples": {
                  "recipient": {
                    "$ref": "#/components/examples/recipient-example"
                  }            
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MailingListDoesNotExist"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/recipients-utils/create-multiple": {
      "post": {
        "tags": ["Recipients"],
        "operationId": "createMultipleRecipients",
        "summary": "Create Multiple Recipients",
        "description": "Add multiple recipients at once using a JSON array of recipient objects. If no/invalid address is specified and a valid email address is, we’ll attempt to look up a valid street address using the email address for a fee.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/recipient-create"
                },
                "example": [
                  {
                    "mailing_list": 1,
                    "name": "Tobias First",
                    "address": "987 Main Street",
                    "address2": null,
                    "city": "LENEXA",
                    "province": "KS",
                    "postal_code": "66216",
                    "country": "US",
                    "dob": "04/23/1981",
                    "custom1": null,
                    "custom2": null,
                    "email": "testemail@thanks.io",
                    "phone": "1234567890"
                  },
                  {
                    "mailing_list": 1,
                    "email": "another-testemail@thanks.io",
                    "phone": "1234567890"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient-array"
                },
                "example": [
                  {
                    "province": "KS",
                    "city": "Lenexa",
                    "name": "Tobias First",
                    "company": null,
                    "dob": "04/23/1981",
                    "country": "US",
                    "address": "987 Main Street",
                    "address2": "",
                    "email": "testemail@thanks.io",
                    "phone": "1234567890",
                    "custom1": null,
                    "custom2": null,
                    "postal_code": "66216"
                  },
                  {
                    "province": "KS",
                    "city": "Lenexa",
                    "name": "Tobias Second",
                    "company": null,
                    "dob": "04/23/1981",
                    "country": "US",
                    "address": "654 Main Street",
                    "address2": "",
                    "email": "testemail@thanks.io",
                    "phone": "1234567890",
                    "custom1": null,
                    "custom2": null,
                    "postal_code": "66216",
                    "error": "This address is already on this mailing list."
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/recipients-utils/delete-by-address": {
      "post": {
        "tags": ["Recipients"],
        "summary": "Delete a Recipient By Address",
        "description": "Delete a recipient by using their address or their email address.",
        "operationId": "deleteRecipientByAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "anyOf": [
                  {
                    "title": "Delete Recipient by Address",
                    "description": "Delete a recipient by providing address details",
                    "summary": "Delete Recipient by Address",
                    "required": ["mailing_list_id", "address", "postal_code"]
                  },
                  {
                    "title": "Delete Recipient by Email",
                    "description": "Delete a recipient by providing email address",
                    "summary": "Delete Recipient by Email",
                    "required": ["mailing_list_id", "email"]
                  }
                ],
                "properties": {
                  "mailing_list_id": {
                    "type": "integer",
                    "example": 1
                  },
                  "address": {
                    "type": "string",
                    "example": "123 Main Street"
                  },
                  "address2": {
                    "type": "string",
                    "example": "Apartment 1"
                  },
                  "city": {
                    "type": "string",
                    "example": "Any Town"
                  },
                  "province": {
                    "type": "string",
                    "description": "State or Province",
                    "example": "KS"
                  },
                  "postal_code": {
                    "type": "string",
                    "example": "12345"
                  },
                  "country": {
                    "type": "string",
                    "example": "US"
                  },
                  "email": {
                    "type": "string",
                    "example": "tobias@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "Recipient 297230 Deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MailingListDoesNotExist"
          }
        }
      }
    },


    "/mailing-lists/": {
      "get": {
        "tags": ["Mailing Lists"],
        "summary": "List",
        "description": "sub_account is optional.",
        "parameters": [
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "id": 515,
                      "user_id": 2,
                      "sub_account_id": null,
                      "type": "map",
                      "description": "Mailing list (Map) created 03/27/2020",
                      "file": null,
                      "field_map": null,
                      "shape_data": "{\"type\":\"rectangle\",\"count\":30,\"northeast\":{\"lat\":41.50233372463283,\"lng\":-73.95891380310059},\"southwest\":{\"lat\":41.50130521936773,\"lng\":-73.96028709411621}}",
                      "total_recipients": 30,
                      "processed": 1,
                      "created_at": "4 days ago",
                      "updated_at": "2020-03-27 02:24:23",
                      "leads_data": null,
                      "deleted_at": null
                    },
                    {
                      "id": 514,
                      "user_id": 2,
                      "sub_account_id": null,
                      "type": "manual",
                      "description": "Multiple Test",
                      "file": null,
                      "field_map": null,
                      "shape_data": null,
                      "total_recipients": 1,
                      "processed": 1,
                      "created_at": "2 weeks ago",
                      "updated_at": "2020-03-10 13:33:04",
                      "leads_data": null,
                      "deleted_at": null
                    },
                    {
                      "id": 513,
                      "user_id": 2,
                      "sub_account_id": null,
                      "type": "map",
                      "description": "Mailing list (Map) created 03/06/2020",
                      "file": null,
                      "field_map": null,
                      "shape_data": "{\"type\":\"rectangle\",\"count\":23,\"northeast\":{\"lat\":41.49198222373539,\"lng\":-73.97047233581544},\"southwest\":{\"lat\":41.48561706807948,\"lng\":-73.97532176971437}}",
                      "total_recipients": 23,
                      "processed": 1,
                      "created_at": "3 weeks ago",
                      "updated_at": "2020-03-06 20:02:12",
                      "leads_data": null,
                      "deleted_at": null
                    },
                    {
                      "id": 512,
                      "user_id": 2,
                      "sub_account_id": null,
                      "type": "map",
                      "description": "Mailing list (Map) created 03/06/2020",
                      "file": null,
                      "field_map": null,
                      "shape_data": "{\"type\":\"rectangle\",\"count\":4,\"northeast\":{\"lat\":41.49018204111472,\"lng\":-73.97163105010988},\"southwest\":{\"lat\":41.487417377546755,\"lng\":-73.9750213623047}}",
                      "total_recipients": 4,
                      "processed": 1,
                      "created_at": "3 weeks ago",
                      "updated_at": "2020-03-06 20:01:57",
                      "leads_data": null,
                      "deleted_at": null
                    },
                    {
                      "id": 511,
                      "user_id": 2,
                      "sub_account_id": null,
                      "type": "map",
                      "description": "Mailing list (Map) created 03/06/2020",
                      "file": null,
                      "field_map": null,
                      "shape_data": "{\"type\":\"rectangle\",\"count\":39,\"northeast\":{\"lat\":41.49140359906281,\"lng\":-73.96489334106447},\"southwest\":{\"lat\":41.48455614800461,\"lng\":-73.97459220886232}}",
                      "total_recipients": 39,
                      "processed": 1,
                      "created_at": "3 weeks ago",
                      "updated_at": "2020-03-06 20:01:35",
                      "leads_data": null,
                      "deleted_at": null
                    }
                  ],
                  "links": {
                    "first": "http://develop.dashboard.thanks.io/api/v2/mailing-lists?page=1",
                    "last": "http://develop.dashboard.thanks.io/api/v2/mailing-lists?page=21",
                    "prev": null,
                    "next": "http://develop.dashboard.thanks.io/api/v2/mailing-lists?page=2"
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 21,
                    "path": "http://develop.dashboard.thanks.io/api/v2/mailing-lists",
                    "per_page": "5",
                    "to": 5,
                    "total": 103
                  }
                }
              }
            }
          }
        }
      },      
      "post": {
        "tags": ["Mailing Lists"],
        
        "summary": "Create",
        "description": "- qrcode_url - this will be used as the default QR Code URL when placing orders with this mailiing list",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"description\\\": \\\"New Mailing List\\\",\\n    \\\"sub_account\\\": 7,\\n    \\\"qrcode_url\\\" : \\\"https://www.google.com\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "type": "manual",
                  "description": "New Mailing List (Created via API 09/07/2021)",
                  "sub_account_id": 7,
                  "user_id": 2,
                  "updated_at": "2021-09-07 02:10:32",
                  "created_at": "1 second ago",
                  "id": 610
                }
              }
            }
          }
        }
      }
    },

    "/mailing-lists/{mailing_list_id}/recipients": {
      "get": {
        "tags": ["Mailing Lists"],
        "summary": "Recipients",
        "description": "* limit is optional.  max is 10000\n* updated_since is optional.  format is [Y-m-d H:i:s]",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1000"
          },
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2020-04-06 01:55:50"
          },
          {
            "name": "mailing_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "current_page": 1,
                  "data": [
                    {
                      "id": 293345,
                      "mailing_list_id": 514,
                      "session_id": null,
                      "name": "John Doe",
                      "address": "123 Main Street",
                      "address2": null,
                      "city": "Austin",
                      "province": "TX",
                      "postal_code": "78703",
                      "country": "US",
                      "dob": null,
                      "custom1": null,
                      "custom2": null,
                      "deliverability": null,
                      "can_deliver": true,
                      "created_at": "2020-03-10 13:33:04",
                      "updated_at": "2020-04-06 01:57:50"
                    }
                  ],
                  "first_page_url": "http://develop.dashboard.thanks.io/api/v2/mailing-lists/514/recipients?page=1",
                  "from": 1,
                  "last_page": 1,
                  "last_page_url": "http://develop.dashboard.thanks.io/api/v2/mailing-lists/514/recipients?page=1",
                  "next_page_url": null,
                  "path": "http://develop.dashboard.thanks.io/api/v2/mailing-lists/514/recipients",
                  "per_page": "1000",
                  "prev_page_url": null,
                  "to": 1,
                  "total": 1
                }
              }
            }
          }
        }
      }
    },
    "/mailing-lists/{mailing_list_id}": {
      "delete": {
        "tags": ["Mailing Lists"],
        "summary": "Delete",
        "parameters": [
          {
            "name": "mailing_list_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/mailing-lists/buy-radius-search": {
      "post": {
        "tags": ["Mailing Lists"],
        "summary": "Append Radius Search ($.05 per record) To Existing List",
        "description": "This call will purchase a radius search mailing listing and add it to your account. Each record added to the mailing list costs $.05.\n\n- address \\[required\\] - Search Street Address (Example: 123 Main St) to use for center of nearest neighbor search.\n- mailing_list_id \\[requred\\] - Mailing List ID to append radius search leads to.\n- postal_code \\[required\\] = Postal Code to use for center of nearest neighbor search.\n- record_count \\[required\\] - Number of nearest neighbors to search for. Valid numbers are 1-10000\n- record_types \\[optional\\] - Which type of records to search for. Valid options are 'all', 'likelytomove', 'likelytorefi', 'absenteeowner', 'highnetworth', 'majorityhomeequity', 'homefreeclear', 'underwater', 'kidsinhousehold', 'newhomeowner', 'firsttimehomebuyer', 'renters', 'retiring', 'retired', 'pool', 'onlybusinesses', 'newbusiness'. Defaults to 'all'\n- append_data \\[optional\\] - Append phone and email to each record for an additional fee ($.20 per record). Defaults to false.\n- use_property_owner \\[optional\\] - Use Property Owners Address when searching for a commercial record_type. Defaults to false\n- include_condos \\[optional\\] - Include condos in search. Defaults to true",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"address\\\": \\\"123 Main Street\\\",\\n    \\\"postal_code\\\": \\\"55555\\\",\\n    \\\"record_types\\\": \\\"all\\\",\\n    \\\"mailing_list_id\\\": \\\"1236\\\",\\n    \\\"record_count\\\": 1,\\n    \\\"include_condos\\\": false,\\n    \\\"append_data\\\": false,\\n    \\\"use_property_owner\\\": false\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 22 Feb 2023 17:45:20 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "success",
                  "mailing_list_id": 1236,
                  "failure": false
                }
              }
            }
          }
        }
      }
    },
    "/send/postcard": {
      "post": {
        "tags": ["Send Mailer"],
        "summary": "4x6 Postcard Preview",
        "description": "Return Preview images of 4x6 Postcard Send.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "image_template": 6,
                  "preview": true,
                  "handwriting_style": 4,
                  "email_additional": "test@test.com",
                  "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                  "recipients": [
                    {
                      "name": "Current Resident",
                      "address": "123 Main Street",
                      "city": "Fake City",
                      "province": "NY",
                      "postal_code": "55555",
                      "country": "US",
                      "custom1": "Example Custom 1",
                      "custom2": "Example Custom 2",
                      "custom3": "Example Custom 3",
                      "custom4": "Example Custom 4"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 08 Apr 2025 04:57:52 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "120"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "119"
                }
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v4?s=jxptn%2FqkY7gu7G19%2Bx9gzjCITW89lyGh%2Fs7R9LQLJVwfVDuCQFuUNXTDaoMqQvbMZWxZQvqsd9z4BslvVZSMbpjY1lNwmQgfs91psyJg1bnw%2Bl1QXpGOYu%2FpBUNyZm%2FrgDloYsl8x9ros2JzvQ%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=31536000; includeSubDomains; preload"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "92cf2fa26ef85078-ORD"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "server-timing": {
                "schema": {
                  "type": "string",
                  "example": "cfL4;desc=\"?proto=TCP&rtt=29983&min_rtt=28986&rtt_var=11582&sent=7&recv=8&lost=0&retrans=0&sent_bytes=2801&recv_bytes=3580&delivery_rate=99910&cwnd=241&unsent_bytes=0&cid=01952e3d92f4ace6&ts=3830&x=0\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "OK",
                  "data": {
                    "previews": [
                      "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                      "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/1056d992-b7f8-bf98-5ad5-9d089cd46e62.png"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/letter": {
      "post": {
        "tags": ["Send Mailer"],
        "summary": "Letter Preview",
        "description": "Return Preview images of Letter Send.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "front_image_url": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/gFBaJJJWRp60op3ZOoK7UaO5I7zi33rdKQGgHylR.png",
                  "handwriting_style": 5,
                  "message": "This is a test message",
                  "mailing_lists": [5166, 514],
                  "return_name": "Custom Return",
                  "return_address": "123 Fake Street",
                  "return_address2": "Unit 1",
                  "return_city": "Anytown",
                  "return_state": "NY",
                  "return_postal_code": "10990",
                  "preview": true
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 08 Apr 2025 05:03:43 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "OK",
                  "data": {
                    "previews": [
                      "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/9e3212b0-fd22-18a6-fd14-630ffbc66ed8.png"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/windowlessletter": {
      "post": {
        "tags": ["Send Mailer"],
        "summary": "Windowless Letter",
        "description": "Return Preview images of Windowless Letter Send.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "front_image_url": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/gFBaJJJWRp60op3ZOoK7UaO5I7zi33rdKQGgHylR.png",
                  "handwriting_style": 5,
                  "message": "This is a test message",
                  "preview": true,
                  "recipients": [
                    {
                      "name": "Current Resident",
                      "address": "123 Main Street",
                      "city": "Fake City",
                      "province": "NY",
                      "postal_code": "55555",
                      "country": "US"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 08 Apr 2025 05:03:22 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "OK",
                  "data": {
                    "previews": [
                      "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/59be0dca-e2dc-8d90-ea24-8d4b29cbc7c1.png"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/notecard": {
      "post": {
        "tags": ["Send Mailer"],
        "summary": "Notecard",
        "description": "Return Preview images of Notecard Send.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "image_template": 6,
                  "handwriting_style": 4,
                  "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                  "preview": true,
                  "recipients": [
                    {
                      "name": "Current Resident",
                      "address": "123 Main Street",
                      "city": "Fake City",
                      "province": "NY",
                      "postal_code": "55555",
                      "country": "US"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 08 Apr 2025 05:02:58 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "OK",
                  "data": {
                    "previews": [
                      "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                      "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/cdf1281a-aec7-7122-e9ee-f0dbbc4cc7ef.png"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send/giftcard": {
      "post": {
        "tags": ["Send Mailer"],
        "summary": "Giftcard",
        "description": "Return Preview images of Giftcard Send.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "image_template": 6,
                  "handwriting_style": 4,
                  "preview": true,
                  "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                  "recipients": [
                    {
                      "name": "Current Resident",
                      "address": "1 Main Street",
                      "city": "Fake City",
                      "province": "NY",
                      "postal_code": "55555",
                      "country": "US"
                    }
                  ],
                  "giftcard_amount_in_cents": 10000,
                  "giftcard_brand": "amazonus"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 08 Apr 2025 05:02:29 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "code": 200,
                  "message": "OK",
                  "data": {
                    "previews": [
                      "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                      "https://s3.amazonaws.com/content.thanks.io/sls-handwriting-engine/images/f32ca6b3-293c-98d8-62ed-4ca8b6f33ca6.png"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts": {
      "get": {
        "tags": ["Sub Accounts"],
        "summary": "List",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "id": 7,
                      "user_id": 2,
                      "title": "Test Sub Account",
                      "return_name": "Your Business",
                      "return_address": "123 Main Street",
                      "return_address2": "Apartment 1",
                      "return_city": "Fake City",
                      "return_state": "NY",
                      "return_postal_code": "55555",
                      "default_envelope": null,
                      "created_at": "2020-03-26 17:44:31",
                      "updated_at": "2020-03-31 02:12:07"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Sub Accounts"],
        "summary": "Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "title": "New Sub Account 22",
                  "return_name": "Your Business",
                  "return_address": "123 Main Street",
                  "return_address2": "Apartment 1",
                  "return_city": "Fake City",
                  "return_state": "NY",
                  "return_postal_code": "55555"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "user_id": 2,
                  "title": "New Sub Account 2",
                  "return_name": "Your Business",
                  "return_address": "123 Main Street",
                  "return_address2": "Apartment 1",
                  "return_city": "Fake City",
                  "return_state": "NY",
                  "return_postal_code": "55555",
                  "updated_at": "2020-03-31 02:17:53",
                  "created_at": "2020-03-31 02:17:53",
                  "id": 9
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/8": {
      "get": {
        "tags": ["Sub Accounts"],
        "summary": "Show",
        "description": "Show details for a specific Sub Account.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 8,
                  "user_id": 2,
                  "title": "New Sub Account",
                  "return_name": "Your Business",
                  "return_address": "123 Main Street",
                  "return_address2": "Apartment 1",
                  "return_city": "Fake City",
                  "return_state": "NY",
                  "return_postal_code": "55555",
                  "default_envelope": null,
                  "created_at": "2020-03-31 02:17:33",
                  "updated_at": "2020-03-31 02:17:33"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Sub Accounts"],
        "summary": "Update",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "example": "\"{\\n    \\\"title\\\": \\\"API Update\\\",\\n    \\\"return_name\\\": \\\"Your Business\\\",\\n    \\\"return_address\\\": \\\"123 Main Street\\\",\\n    \\\"return_address2\\\": \\\"Apartment 1\\\",\\n    \\\"return_city\\\": \\\"Fake City\\\",\\n    \\\"return_state\\\": \\\"NY\\\"\\n}\""
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 8,
                  "user_id": 2,
                  "title": "API Update",
                  "return_name": "Your Business",
                  "return_address": "123 Main Street",
                  "return_address2": "Apartment 1",
                  "return_city": "Fake City",
                  "return_state": "NY",
                  "return_postal_code": "55555",
                  "default_envelope": null,
                  "created_at": "2020-03-31 02:17:33",
                  "updated_at": "2020-04-06 02:34:02"
                }
              }
            }
          }
        }
      }
    },
    "/sub-accounts/7": {
      "delete": {
        "tags": ["Sub Accounts"],
        "summary": "Delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/image-templates": {
      "get": {
        "tags": ["Image Templates"],
        "summary": "List By Type",
        "description": "sub_account is optional.",
        "parameters": [
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "letter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/message-templates": {
      "get": {
        "tags": ["Message Templates"],
        "summary": "List By Type",
        "parameters": [
          {
            "name": "items_per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "giftcard"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },

    "/orders/{order_id}/track": {
      "get": {
        "tags": ["Orders"],
        "summary": "Track Order",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "id": 37844,
                    "order": {
                      "sub_account_id": null,
                      "type": "postcard",
                      "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                      "style": 4,
                      "size": "4x6",
                      "front_image": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                      "high_quality_preview": "https://s3.amazonaws.com/cdn.thanks.io/user_assets/d/c09d39aadfc-3701d4467b8/high_quality_previews/558656e0-5020-11eb-b023-51fc31846b80.pdf",
                      "total_estimated_recipients": 1,
                      "authorization_total": 99,
                      "total_recipients": 1,
                      "grand_total": 99,
                      "status": "Fulfilled",
                      "method": "API",
                      "created_at": "2021-01-06 13:08:17",
                      "updated_at": "2021-01-06 13:08:57"
                    },
                    "stats": {
                      "delivered": 0,
                      "processing": 1,
                      "printed": 0,
                      "in_transit": 0,
                      "in_local_area": 0,
                      "processed_for_delivery": 0,
                      "re_routed": 0,
                      "returned_to_sender": 0,
                      "failed": 0
                    },
                    "errors": [],
                    "returned": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/stats": {
      "get": {
        "tags": ["Orders"],
        "summary": "Stats",
        "description": "Return summary of stats for orders between a date range.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2020-07-01"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2020-07-31"
          },
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "ID of subaccount to use (optional)",
            "example": "9"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "delivered": 0,
                  "processing": 1,
                  "printed": 0,
                  "in_transit": 51,
                  "in_local_area": 0,
                  "processed_for_delivery": 0,
                  "re_routed": 0,
                  "returned_to_sender": 0,
                  "failed": 2835,
                  "total_cost": "$2,622.43",
                  "total_requests": 2947,
                  "total_sent": 2947
                }
              }
            }
          }
        }
      }
    },
    "/orders/list": {
      "get": {
        "tags": ["Orders"],
        "summary": "List",
        "description": "Return list of recent orders.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max results to send (optional).  Valid values are 1-100",
            "example": "5"
          },
          {
            "name": "sub_account_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "ID of subaccount to use (optional)",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 29 Jan 2022 16:47:11 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": [
                    {
                      "id": 37265,
                      "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                      "size": "4x6",
                      "sub_account_id": 1,
                      "type": "postcard",
                      "style": 4,
                      "front_image": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                      "high_quality_preview": null,
                      "total_estimated_recipients": 1,
                      "authorization_total": 49,
                      "total_recipients": 1,
                      "grand_total": 49,
                      "status": "Fulfilled",
                      "method": "Card Builder",
                      "created_at": {
                        "date": "2020-03-30 16:33:04.000000",
                        "timezone_type": 3,
                        "timezone": "UTC"
                      },
                      "updated_at": {
                        "date": "2020-12-25 02:48:06.000000",
                        "timezone_type": 3,
                        "timezone": "UTC"
                      }
                    }
                  ],
                  "links": {
                    "first": "https://develop-dashboard.thanks.io/api/v2/orders/list?page=1",
                    "last": "https://develop-dashboard.thanks.io/api/v2/orders/list?page=1",
                    "prev": null,
                    "next": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "path": "https://develop-dashboard.thanks.io/api/v2/orders/list",
                    "per_page": "5",
                    "to": 1,
                    "total": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/search": {
      "get": {
        "tags": ["Orders"],
        "summary": "Search by Street Address",
        "description": "Return summary of stats for orders between a date range.",
        "parameters": [
          {
            "name": "street_address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "100 Main St"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.0 (Ubuntu)"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "matched_order_items": [
                    {
                      "order_id": 37844,
                      "name": "Test Name",
                      "address": "100 Main St",
                      "address2": null,
                      "city": "Warwick",
                      "province": "NY",
                      "postal_code": "10990",
                      "country": "US",
                      "created_at": "2021-01-06 13:08:52 UTC",
                      "failure": null,
                      "individual_price": 99,
                      "status": "Processing"
                    }
                  ],
                  "orders": [
                    {
                      "id": 37844,
                      "order": {
                        "sub_account_id": null,
                        "type": "postcard",
                        "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                        "style": 4,
                        "size": "4x6",
                        "front_image": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                        "high_quality_preview": "https://s3.amazonaws.com/cdn.thanks.io/user_assets/d/c09d39aadfc-3701d4467b8/high_quality_previews/558656e0-5020-11eb-b023-51fc31846b80.pdf",
                        "total_estimated_recipients": 1,
                        "authorization_total": 99,
                        "total_recipients": 1,
                        "grand_total": 99,
                        "status": "Fulfilled",
                        "method": "API",
                        "created_at": "2021-01-06 13:08:17",
                        "updated_at": "2021-01-06 13:08:57"
                      },
                      "stats": {
                        "delivered": 0,
                        "processing": 1,
                        "printed": 0,
                        "in_transit": 0,
                        "in_local_area": 0,
                        "processed_for_delivery": 0,
                        "re_routed": 0,
                        "returned_to_sender": 0,
                        "failed": 0
                      },
                      "errors": [],
                      "returned": []
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/order/{order_id}/cancel": {
      "put": {
        "tags": ["Orders"],
        "summary": "Cancel",
        "description": "If Order is in _Reviewing_ Status, then this will cancel the order and refund the credits for the order back to your account.",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 04 Oct 2023 02:50:01 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "order": {
                    "id": 37294,
                    "user_id": 2,
                    "sub_account_id": 66,
                    "type": "postcard",
                    "message": "Dear %FIRST_NAME%\r\n\r\nHope all is well\n\n-John Doe",
                    "message_template_id": null,
                    "style": 4,
                    "handwriting_color": null,
                    "size": "6x9",
                    "addons": null,
                    "envelope_id": null,
                    "front_image": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png",
                    "back_image": null,
                    "high_quality_preview": null,
                    "is_dynamic": 0,
                    "append_or_current_resident": 0,
                    "dynamic_image_url": null,
                    "custom_background_url": null,
                    "additional_letter_pages": null,
                    "additional_letter_pages_count": 0,
                    "giftcard_brand": null,
                    "giftcard_image": null,
                    "giftcard_amount": null,
                    "qrcode_url": null,
                    "share_image": null,
                    "mailing_lists": null,
                    "mailing_list_ids_used": null,
                    "campaign_id": null,
                    "total_estimated_recipients": 3,
                    "sales_tax_total": 0,
                    "authorization_total": 267,
                    "total_recipients": 0,
                    "grand_total": 0,
                    "leads_fee": 0,
                    "transaction_id": 38080,
                    "settled": 1,
                    "status": "cancelled",
                    "method": "api",
                    "email_cc": null,
                    "notifications": null,
                    "return_name": null,
                    "return_address": null,
                    "return_address2": null,
                    "return_city": null,
                    "return_province": null,
                    "return_postal_code": null,
                    "allow_share": 0,
                    "session_id": null,
                    "created_at": "2020-04-06 00:20:31",
                    "updated_at": "2023-10-04 02:46:14",
                    "display_addons": "",
                    "display_status": "Cancelled",
                    "display_trigger": "API",
                    "display_type": "Postcard-6x9",
                    "handwriting_image": null,
                    "share_url": "https://dashboard.thanks.io/share/order/37294",
                    "giftcard_brand_longname": ""
                  }
                }
              }
            }
          }
        }
      }
    },

    "/build/image-template": {
      "get": {
        "tags": ["Dynamic Images"],
        "summary": "Create",
        "description": "Build image for the front of your postcard or notecard.  Includes ability to set dynmiac fields and QR code.  This does not create an order, it simply builds the image and returns a URL to the image.  You can then use this image URL in your order creation request.\n\n ## Dynamic Data Tags\n\nUse these tags in your header, sub-header, background image URL, and QR Code/Redirect URL to have recipient data automatically added further personalizing each postcard.\n- `~FULL_NAME~`\n- `~FIRST_NAME~`\n- `~COMPANY~`\n- `~ADDRESS~`\n- `~ADDRESS2~`\n- `~CITY~`\n- `~STATE~`\n- `~ZIP~`\n- `~EMAIL~`\n- `~PHONE~`\n- `~CUSTOM1~`\n- `~CUSTOM2~`\n- `~CUSTOM3~`\n- `~CUSTOM4~`\n- `~YOUR_FULL_NAME~`\n- `~YOUR_FIRST_NAME~`\n- `~YOUR_COMPANY~`\n- `~YOUR_EMAIL~`\n- `~YOUR_PHONE~`",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 18,

              "example": "8"
            },
            "required": true,
            "description": "Template ID to use"
          },
          {
            "name": "background_url",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "~STREET_VIEW~"
            },
            "description": "Background Image URL sits behind the generated dynamic image.  Can be one of the following\n- `~MAP_VIEW~` for Google Map View. \n- `~STREET_VIEW~` for Google Street View.\n- Valid HTTP png or jpg URL "
          },
          {
            "name": "header",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Want to Know ~ADDRESS~'s Value?"
            },
            "description": "Header Text - Taggable"
          },
          {
            "name": "subheader",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Scan the QR code to get an immediate value for ~ADDRESS~."
            },
            "description": "Sub-header Text - Taggable"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "https://www.thanks.io"
            },
            "description": "Location to redirect recipeint to on QR Code Scan. Can be one of the following\n- `~MESSAGE_QR~` for Message Template QR Code\n- Valid http URL"
          },
          {
            "name": "logo_url",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "https://d2md0c8rpvzmz5.cloudfront.net/assets/brand/logo%402x.png"
            },
            "description": "Image Logo to use.  Can be one of the following\n- `~YOUR_LOGO~` for your branding logo\n- `~YOUR_SYMBOL~`for your branding symbol\n- Valid HTTP png or jpg URL"
          },
          {
            "name": "overlay_url",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "https://s3.amazonaws.com/content.thanks.io/templates/dynamic-images/b96a8260-34ce-11f0-b5f2-81d9e83ce1aa.png"
            },
            "description": "Overlay Image URL sits in front of the generated dynamic image.   Must be 1875x1275 png or jpg."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },

    "/handwriting-styles": {
      "get": {
        "tags": ["Handwriting Styles"],
        "operationId": "listHandwritingStyles",
        "summary": "List Styles",
        "description": "List All Available Handwriting Styles",
        "security": [
          {
            "noauthAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "200 Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "handwriting_style_id": {
                            "type": "integer",
                            "description": "Unique ID of the handwriting style",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the handwriting style",
                            "example": "Hi Clarice"
                          },
                          "sample": {
                            "type": "string",
                            "description": "Sample image URL of the handwriting style",
                            "example": "ttps://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/1.png"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of handwriting style",
                            "example": "Realistic",
                            "enum": ["Realistic", "AI"]
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "handwriting_style_id": 1,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/1.png",
                      "name": "Hi Clarice",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 2,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/2.png",
                      "name": "Practiced Sharpie",
                      "type": "Bold"
                    },
                    {
                      "handwriting_style_id": 3,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/3.png",
                      "name": "Bold Note",
                      "type": "Bold"
                    },
                    {
                      "handwriting_style_id": 4,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/4.png",
                      "name": "Foxy Lady",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 5,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/5.png",
                      "name": "That Dude",
                      "type": "Bold"
                    },
                    {
                      "handwriting_style_id": 6,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/6.png",
                      "name": "Normal Print",
                      "type": "Bold"
                    },
                    {
                      "handwriting_style_id": 7,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/7.png",
                      "name": "Shopping List",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 8,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/8.png",
                      "name": "Lazy Note",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 9,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/9.png",
                      "name": "Blurred Lines",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 10,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/10.png",
                      "name": "Birthday Card",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 11,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/11.png",
                      "name": "Scully, Not Molder",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 12,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/12.png",
                      "name": "Wow! Signal",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 13,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/13.png",
                      "name": "Arabic",
                      "type": "International"
                    },
                    {
                      "handwriting_style_id": 14,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/14.png",
                      "name": "Chinese",
                      "type": "International"
                    },
                    {
                      "handwriting_style_id": 15,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/15.png",
                      "name": "Cyrillic",
                      "type": "International"
                    },
                    {
                      "handwriting_style_id": 16,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/16.png",
                      "name": "Hebrew",
                      "type": "International"
                    },
                    {
                      "handwriting_style_id": 17,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/17.png",
                      "name": "Japanese",
                      "type": "International"
                    },
                    {
                      "handwriting_style_id": 18,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/18.png",
                      "name": "Korean",
                      "type": "International"
                    },
                    {
                      "handwriting_style_id": 19,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/19.png",
                      "name": "Vietnamese",
                      "type": "International"
                    },
                    {
                      "handwriting_style_id": 20,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/20.png",
                      "name": "Notey",
                      "type": "Realistic"
                    },
                    {
                      "handwriting_style_id": 101,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/101.png",
                      "name": "Optimus Prime",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 102,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/102.png",
                      "name": "Binary Bard",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 103,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/103.png",
                      "name": "Quantum Quip",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 104,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/104.png",
                      "name": "Analytic Atom",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 106,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/106.png",
                      "name": "Cerebral Circuit",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 107,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/107.png",
                      "name": "Reflective Relay 2",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 109,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/109.png",
                      "name": "Thoughtful Transistor",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 110,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/110.png",
                      "name": "Bright Byte",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 112,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/112.png",
                      "name": "Pensive Pixel",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 113,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/113.png",
                      "name": "Judicious Jolt",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 114,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/114.png",
                      "name": "Astute Actuator",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 115,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/115.png",
                      "name": "Insightful Interface",
                      "type": "AI"
                    },
                    {
                      "handwriting_style_id": 118,
                      "sample": "https://d2md0c8rpvzmz5.cloudfront.net/handwriting_examples/118.png",
                      "name": "Prudent Processor",
[...]
