{
  "openapi": "3.1.0",
  "x-mint": {
    "mcp": {
      "enabled": true
    }
  },
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "thanks.io API",
    "description": "Use the thanks.io API to send postcards, letters, notecards, windowless letters, and gift cards.",
    "contact": {
      "url": "https://www.thanks.io",
      "email": "support@thanks.io"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Learn more about thanks.io",
    "url": "https://docs.thanks.io"
  },
  "servers": [
    {
      "url": "https://api.thanks.io/api/v2",
      "description": "The main API server for thanks.io"
    }
  ],
  "components": {
    "examples": {
      "recipient-example": {
        "summary": "Example Recipient",
        "value": {
          "id": 18113288,
          "mailing_list_id": 1,
          "name": "Tobias Example",
          "company": "thanks.io",
          "address": "12345 Main Street",
          "address2": "Apartment 1",
          "city": "Any Town",
          "province": "NY",
          "postal_code": "12345",
          "country": "US",
          "dob": "1981-04-23",
          "anniversary": "2025-07-21",
          "email": "tobias@example.com",
          "phone": "845-988-6485",
          "custom1": "Unique Info",
          "custom2": "For example a product code or customer ID",
          "custom3": "",
          "custom4": "",
          "created_at": "2025-06-27T14:57:11.000000Z",
          "updated_at": "2025-06-27T14:57:11.000000Z",
          "mailing_list": {
            "id": 1,
            "user_id": 2,
            "sub_account_id": null,
            "type": "manual",
            "description": "Sphere Contacts Mailing List",
            "qrcode_url": null,
            "total_recipients": 1,
            "processed": true,
            "is_suppression_list": false,
            "total_scans": 1,
            "unique_scans": 1,
            "last_scan": "2025-07-13T13:57:11.000000Z",
            "total_sends": 2,
            "last_send": "2025-07-06T13:57:11.000000Z",
            "created_at": "6 years ago",
            "updated_at": "2025-06-27T14:57:11.000000Z"
          }
        }
      },
      "mailing-list-example": {
        "summary": "Example Mailing List",
        "value": {
          "id": 3020,
          "user_id": 2,
          "sub_account_id": null,
          "type": "manual",
          "description": "Birthday List",
          "qrcode_url": null,
          "total_recipients": 0,
          "processed": true,
          "is_suppression_list": false,
          "total_scans": 0,
          "unique_scans": 0,
          "last_scan": null,
          "total_sends": 0,
          "last_send": null,
          "api_key": "167ba7f0-72de-11f0-b054-6d9179a1fdb2",
          "created_at": "2025-08-06T15:57:43.000000Z",
          "created_at_diff": "18 minutes ago",
          "updated_at": "2025-08-06T15:57:43.000000Z"
        }
      },
      "sub-account-example": {
        "summary": "Example Sub Account",
        "value": {
          "id": 1,
          "user_id": 2,
          "title": "My New Sub Account",
          "return_name": "John Smith",
          "return_address": "123 Smith Street 11",
          "return_address2": "Apt 1",
          "return_city": "Denver",
          "return_state": "CO",
          "return_postal_code": "12345",
          "message_background_url": null,
          "postcard6x9_background_url": null,
          "notecard_background_url": null,
          "windowedletter_background_url": null,
          "windowlessletter_background_url": null,
          "branding_fields": {
            "accentColor": "#5f01d1",
            "symbol": "",
            "logo": "https://s3.amazonaws.com/content.thanks.io/templates/dynamic-images/5dcb82c0-f258-11ef-9c99-e542d768ea52.png",
            "disclaimer": null,
            "headshot": null,
            "name": "John Gray",
            "email": "test@test.com",
            "phone": "1234567890",
            "company": null,
            "domain": null,
            "set": true,
            "first_name": "John"
          },
          "created_at": "2020-02-14 20:50:02",
          "updated_at": "2025-07-16 19:03:31"
        }
      }
    },
    "parameters": {
      "items_per_page": {
        "name": "items_per_page",
        "in": "query",
        "description": "Number of items to return per page.",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 25
        },
        "example": 5
      },
      "sub_account_id": {
        "name": "sub_account_id",
        "in": "query",
        "description": "Filter results by Sub Account ID.",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "example": 1
      }
    },
    "schemas": {
      "webhook-type": {
        "type": "string",
        "enum": [
          "order_item.status_update",
          "order.status_update",
          "order_item.delivered",
          "scans.scan_update"
        ],
        "example": "order_item.status_update"
      },
      "webhook-data-flat": {
        "type": "object",
        "description": "Flat payload object used by webhook events. Each property is a dotted key matching the published webhook payload structure.",
        "properties": {
          "order_item.id": {
            "type": ["integer", "null"],
            "example": 2668662
          },
          "order_item.scans": {
            "type": ["integer", "null"],
            "example": null
          },
          "order_item.failure": {
            "type": ["string", "null"],
            "example": null
          },
          "recipient.name": {
            "type": ["string", "null"],
            "example": "John Doe"
          },
          "recipient.company": {
            "type": ["string", "null"],
            "example": null
          },
          "recipient.address": {
            "type": ["string", "null"],
            "example": "123 Fake St"
          },
          "recipient.address2": {
            "type": ["string", "null"],
            "example": null
          },
          "recipient.absentee_address": {
            "type": ["string", "null"],
            "example": null
          },
          "recipient.city": {
            "type": ["string", "null"],
            "example": "Any Town"
          },
          "recipient.province": {
            "type": ["string", "null"],
            "example": "NY"
          },
          "recipient.postal_code": {
            "type": ["string", "null"],
            "example": "12345"
          },
          "recipient.country": {
            "type": ["string", "null"],
            "example": "US"
          },
          "recipient.email": {
            "type": ["string", "null"],
            "example": null
          },
          "recipient.phone": {
            "type": ["string", "null"],
            "example": null
          },
          "recipient.custom_1": {
            "type": ["string", "null"],
            "example": "Example Custom 1"
          },
          "recipient.custom_2": {
            "type": ["string", "null"],
            "example": "Example Custom 2"
          },
          "recipient.custom_3": {
            "type": ["string", "null"],
            "example": "Example Custom 3"
          },
          "recipient.custom_4": {
            "type": ["string", "null"],
            "example": "Example Custom 4"
          },
          "recipient.custom_5": {
            "type": ["string", "null"],
            "example": "Example Custom 5"
          },
          "recipient.custom_6": {
            "type": ["string", "null"],
            "example": "Example Custom 6"
          },
          "recipient.custom_7": {
            "type": ["string", "null"],
            "example": "Example Custom 7"
          },
          "recipient.custom_8": {
            "type": ["string", "null"],
            "example": "Example Custom 8"
          },
          "recipient.custom_9": {
            "type": ["string", "null"],
            "example": "Example Custom 9"
          },
          "recipient.custom_10": {
            "type": ["string", "null"],
            "example": "Example Custom 10"
          },
          "order.id": {
            "type": ["integer", "null"],
            "example": 42399
          },
          "order.sub_account_id": {
            "type": ["integer", "null"],
            "example": 5
          },
          "order.status": {
            "type": ["string", "null"],
            "example": "Printing"
          },
          "order_item.delivery_date": {
            "type": ["string", "null"],
            "example": "2025-07-05"
          },
          "order_item.previous_status": {
            "type": ["string", "null"],
            "example": null
          },
          "order_item.current_status": {
            "type": ["string", "null"],
            "example": "Processing"
          },
          "qrcode.url": {
            "type": ["string", "null"],
            "format": "uri",
            "example": "https://www.google.com"
          },
          "order.metadata": {
            "type": ["object", "null"],
            "description": "The metadata object submitted with the order, returned exactly as it was sent. Null when the order was created without metadata.",
            "additionalProperties": true,
            "example": {
              "crm_deal_id": "D-1042"
            }
          }
        },
        "additionalProperties": false
      },
      "webhook-order-status-update-payload": {
        "type": "object",
        "properties": {
          "order.id": {
            "type": "integer",
            "example": 42401
          },
          "order.status": {
            "type": "string",
            "description": "The order's status after the change, in the same display form used throughout the dashboard and the order endpoints.",
            "example": "Printing"
          },
          "order.previous_status": {
            "type": ["string", "null"],
            "description": "The status the order moved from, in lower case. Null if the order had no status before the change.",
            "example": "reviewing"
          },
          "order.current_status": {
            "type": "string",
            "description": "The status the order moved to, in lower case. This is the same change reported by `order.status`, which gives the display form of the value.",
            "example": "processing"
          },
          "order.metadata": {
            "type": ["object", "null"],
            "description": "The metadata object submitted with the order, returned exactly as it was sent. Null when the order was created without metadata.",
            "additionalProperties": true,
            "example": {
              "crm_deal_id": "D-1042"
            }
          }
        },
        "additionalProperties": false
      },
      "webhook-order-item-status-update-payload": {
        "$ref": "#/components/schemas/webhook-data-flat"
      },
      "webhook-order-item-delivered-payload": {
        "$ref": "#/components/schemas/webhook-data-flat"
      },
      "webhook-scan-update-payload": {
        "$ref": "#/components/schemas/webhook-data-flat"
      },
      "order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42708
          },
          "message": {
            "type": "string",
            "example": "Hey %FIRST_NAME%!,\n\nTHANK YOU for allowing us the opportunity to HELP you with your plan!"
          },
          "size": {
            "type": "string",
            "description": "Only valid for postcards",
            "example": "4x6"
          },
          "sub_account_id": {
            "type": ["integer", "null"],
            "example": null
          },
          "type": {
            "type": "string",
            "enum": [
              "postcard",
              "postcard6x11",
              "letter",
              "notecard",
              "giftcard",
              "windowlessletter"
            ],
            "example": "postcard"
          },
          "display_type": {
            "type": "string",
            "example": "Postcard-4x6"
          },
          "style": {
            "type": "integer",
            "description": "Handwriting Style ID used for this order",
            "example": 1
          },
          "front_image": {
            "type": "string",
            "example": "https://cdn.thanks.io/letter-backgrounds/bg0.png"
          },
          "high_quality_preview": {
            "type": "string",
            "description": "PDF of the high quality preview of the order"
          },
          "authorization_total": {
            "type": "integer",
            "example": 73
          },
          "grand_total": {
            "type": "integer",
            "example": 73
          },
          "order_total": {
            "type": "integer",
            "example": 73
          },
          "total_estimated_recipients": {
            "type": "integer",
            "example": 1
          },
          "total_recipients": {
            "type": "integer",
            "example": 1
          },
          "recipient_count": {
            "type": "integer",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "Fulfilled"
          },
          "method": {
            "type": "string",
            "example": "Campaign"
          },
          "cancellable": {
            "type": "boolean",
            "example": false
          },
          "total_scans": {
            "type": "integer",
            "example": 0
          },
          "metadata": {
            "type": ["object", "null"],
            "description": "The metadata object submitted with the order, returned exactly as it was sent. Null when the order was created without metadata.",
            "additionalProperties": true,
            "example": {
              "crm_deal_id": "D-1042"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-09-08T16:05:12.000000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-09-08T16:06:08.000000Z"
          }
        }
      },
      "order-item": {
        "type": "object",
        "description": "A single mail piece within an order — one recipient's postcard, letter, notecard, magnacard or gift card.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of the order item. This is the same identifier carried by order item webhook events.",
            "example": 2668662
          },
          "status": {
            "type": "string",
            "description": "Current delivery status of this piece.",
            "enum": ["Processing", "Printed", "In Transit", "In Local Area", "Processed for Delivery", "Delivered", "Re-routed", "Returned to Sender", "Failed"],
            "example": "In Transit"
          },
          "delivery_date": {
            "type": ["string", "null"],
            "format": "date",
            "description": "Date the piece was delivered, or `null` if it has not been delivered yet.",
            "example": "2025-09-15"
          },
          "scans": {
            "type": "integer",
            "description": "Number of times this piece's QR code has been scanned.",
            "example": 0
          },
          "failure": {
            "type": ["string", "null"],
            "description": "Reason the piece could not be mailed or delivered, or `null` if there was no failure.",
            "example": "USPS lists address as 'no-stat' - address is unlikely to receive mail."
          },
          "recipient": {
            "type": "object",
            "description": "Recipient details as submitted with the order \u2014 the mailing address plus the ten custom fields.",
            "properties": {
              "name": {
                "type": ["string", "null"],
                "example": "Tobias Example"
              },
              "company": {
                "type": ["string", "null"],
                "example": "thanks.io"
              },
              "address": {
                "type": ["string", "null"],
                "example": "12345 Main Street"
              },
              "address2": {
                "type": ["string", "null"],
                "example": "Apartment 1"
              },
              "city": {
                "type": ["string", "null"],
                "example": "Any Town"
              },
              "province": {
                "type": ["string", "null"],
                "description": "State or Province",
                "example": "KS"
              },
              "postal_code": {
                "type": ["string", "null"],
                "example": "12345"
              },
              "country": {
                "type": ["string", "null"],
                "example": "US"
              },
              "email": {
                "type": ["string", "null"],
                "example": "tobias@example.com"
              },
              "phone": {
                "type": ["string", "null"],
                "example": "5555555555"
              },
              "custom1": {
                "type": ["string", "null"],
                "description": "Custom field 1 as submitted with the order.",
                "example": "Unique Info"
              },
              "custom2": {
                "type": ["string", "null"],
                "description": "Custom field 2 as submitted with the order.",
                "example": "For example a product code or customer ID"
              },
              "custom3": {
                "type": ["string", "null"],
                "description": "Custom field 3 as submitted with the order.",
                "example": ""
              },
              "custom4": {
                "type": ["string", "null"],
                "description": "Custom field 4 as submitted with the order.",
                "example": ""
              },
              "custom5": {
                "type": ["string", "null"],
                "description": "Custom field 5 as submitted with the order.",
                "example": ""
              },
              "custom6": {
                "type": ["string", "null"],
                "description": "Custom field 6 as submitted with the order.",
                "example": ""
              },
              "custom7": {
                "type": ["string", "null"],
                "description": "Custom field 7 as submitted with the order.",
                "example": ""
              },
              "custom8": {
                "type": ["string", "null"],
                "description": "Custom field 8 as submitted with the order.",
                "example": ""
              },
              "custom9": {
                "type": ["string", "null"],
                "description": "Custom field 9 as submitted with the order.",
                "example": ""
              },
              "custom10": {
                "type": ["string", "null"],
                "description": "Custom field 10 as submitted with the order.",
                "example": ""
              }
            }
          },
          "giftcard": {
            "type": ["object", "null"],
            "description": "Present only on gift card orders. `null` when the gift card for this piece has not been issued yet. The redemption code, claim link and rendered card image are never returned.",
            "properties": {
              "brand": {
                "type": "string",
                "description": "Brand code of the gift card.",
                "example": "amazonus"
              },
              "amount": {
                "type": "integer",
                "description": "Face value of the gift card in cents.",
                "example": 2500
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-09-08T16:05:12.000000Z"
          }
        }
      },
      "giftcard-group": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Giftcard Brand Grouping Title"
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "brand_code": {
                  "type": "string",
                  "description": "Code to send to the API to use this brand"
                },
                "title": {
                  "type": "string",
                  "description": "Giftcard Brand Title to display to users"
                },
                "image": {
                  "type": "string",
                  "description": "Image URL for the brand to display to users"
                },
                "available_amounts": {
                  "type": "array",
                  "description": "Available amounts for this brand in cents",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "giftcard-group-list": {
        "type": "object",
        "properties": {
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "brand_code": {
                  "type": "string",
                  "description": "Code to send to the API to use this brand",
                  "example": "amazonus"
                },
                "title": {
                  "type": "string",
                  "description": "Giftcard Brand Title to display to users",
                  "example": "Amazon.com"
                },
                "image": {
                  "type": "string",
                  "description": "Image URL for the brand to display to users",
                  "example": "https://s3.amazonaws.com/cdn.thanks.io/giftcards/amazonus.png"
                },
                "available_amounts": {
                  "type": "array",
                  "description": "Available amounts for this brand in cents",
                  "items": {
                    "type": "integer",
                    "example": 1000
                  }
                },
                "group": {
                  "type": "string",
                  "description": "Giftcard Brand Grouping Title",
                  "example": "Featured"
                }
              }
            }
          }
        }
      },
      "mailing-list": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "user_id": {
            "type": "integer",
            "example": 2
          },
          "sub_account_id": {
            "type": ["integer", "null"]
          },
          "type": {
            "type": "string",
            "example": "manual",
            "enum": [
              "csv",
              "manual",
              "map",
              "friends",
              "retarget",
              "leads",
              "zapier",
              "radius",
              "highlevel",
              "qrscans"
            ]
          },
          "description": {
            "type": "string",
            "example": "Test"
          },
          "qrcode_url": {
            "type": ["string", "null"]
          },
          "total_recipients": {
            "type": "integer",
            "example": 1
          },
          "processed": {
            "type": "boolean",
            "example": true
          },
          "is_suppression_list": {
            "type": "boolean",
            "example": false
          },
          "total_scans": {
            "type": "integer",
            "example": 0
          },
          "unique_scans": {
            "type": "integer",
            "example": 0
          },
          "last_scan": {
            "type": ["string", "null"]
          },
          "total_sends": {
            "type": "integer",
            "example": 0
          },
          "last_send": {
            "type": ["string", "null"]
          },
          "api_key": {
            "type": "string",
            "description": "API key that can be used to add recipients to this mailing list with thanks.io Webhooks",
            "example": "abcd1234efgh5678ijkl9012mnop3456"
          },
          "created_at": {
            "type": "string",
            "example": "2018-07-15T06:06:57.000000Z",
            "format": "date-time"
          },
          "created_at_diff": {
            "type": "string",
            "example": "6 years ago",
            "description": "Human-friendly relative time since creation"
          },
          "updated_at": {
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z",
            "format": "date-time"
          }
        }
      },
      "image-template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 6
          },
          "user_id": {
            "type": "integer",
            "example": 2
          },
          "sub_account_id": {
            "type": "integer",
            "example": 55
          },
          "type": {
            "type": "string",
            "enum": [
              "postcard",
              "letter",
              "notecard",
              "giftcard",
              "windowlessletter"
            ],
            "example": "postcard"
          },
          "name": {
            "type": "string",
            "example": "Thank You Image"
          },
          "image": {
            "type": "string",
            "description": "URL of the template image",
            "example": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png"
          },
          "canva_id": {
            "type": "string",
            "example": "some-canva-id"
          },
          "created_at": {
            "type": "string",
            "example": "2018-08-07 00:00:00"
          },
          "updated_at": {
            "type": "string",
            "example": "2018-08-08 00:00:00"
          }
        }
      },
      "message-template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 2
          },
          "user_id": {
            "type": "integer",
            "example": 2
          },
          "sub_account_id": {
            "type": ["integer", "null"]
          },
          "handwriting_style_id": {
            "type": "integer",
            "description": "ID of the handwriting style used in the message template",
            "example": 18
          },
          "font_size": {
            "type": "integer",
            "description": "Font size used in the message template.  Only valid for AI fonts",
            "enum": ["auto", "large", "medium", "small"]
          },
          "font_color": {
            "type": "string",
            "description": "Font color used in the message template.",
            "example": "#000000"
          },
          "handwriting_realism": {
            "type": "boolean",
            "description": "Handwriting realism level used in the message template. Only valid for AI fonts"
          },
          "name": {
            "type": "string",
            "example": "Thank You Message"
          },
          "content": {
            "type": "string",
            "example": "Hey %FIRST_NAME%!,\n\nTHANK YOU for allowing us the opportunity to HELP you with your plan!"
          },
          "additional_pages": {
            "type": "string",
            "format": "uri",
            "description": "URL to additional pages to include with the cover letter. Only valid for letter templates."
          },
          "skip_creative_generation": {
            "type": "integer",
            "description": "Flag to skip creative generation.  Set when message template is PDF file only.",
            "example": 0
          },
          "custom_background_url": {
            "type": "string",
            "description": "URL of the custom background image for the message template. Only valid for postcard backs and the interior background of notecards and giftcards.",
            "example": "https://example.com/background.png"
          },
          "qrcode_url": {
            "type": "string",
            "description": "URL of the QR code image for the message template",
            "example": "https://www.thanks.io"
          },
          "cc_emails": {
            "type": "array",
            "description": "List of email addresses to be CC'd on when a QR code is scanned",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-08-08T02:56:59.000000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-02-12T05:13:15.000000Z"
          },
          "type": {
            "type": "string",
            "example": "notecard",
            "enum": [
              "postcard",
              "postcard6x11",
              "letter",
              "windowlessletter",
              "notecard",
              "giftcard",
              "magnacard"
            ],
            "description": "Type of the message template"
          },
          "giftcard_brand_code": {
            "type": "string",
            "description": "Brand code of the gift card",
            "example": "amazonus"
          },
          "giftcard_brand_image": {
            "type": "string",
            "description": "Image URL of the gift card brand",
            "example": "https://cdn.thanks.io/giftcards/amazonus.png"
          },
          "giftcard_amount": {
            "type": "integer",
            "description": "Amount of the gift card in cents",
            "example": 5000
          },
          "landing_page_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the gated landing page (also known as a gating URL). Recipients must visit this page before they can redeem the gift card, letting you gate redemption behind an action such as booking a demo or completing a form. Only valid for giftcards."
          },
          "share_uuid": {
            "type": "string",
            "example": "5J5N-QAD3-6LLL-LSZZ"
          }
        }
      },
      "message-template-create": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "notecard",
            "enum": [
              "postcard",
              "postcard6x11",
              "letter",
              "windowlessletter",
              "notecard",
              "giftcard",
              "magnacard"
            ],
            "description": "Type of the message template"
          },
          "name": {
            "type": "string",
            "description": "Name of the message template",
            "example": "Thank You Message"
          },
          "handwriting_style_id": {
            "type": "integer",
            "description": "Handwriting style ID for the message template",
            "example": 4
          },
          "font_color": {
            "type": "string",
            "description": "Handwriting color to use",
            "example": "rgba(31,0,113,0.80)"
          },
          "handwriting_realism": {
            "type": "boolean",
            "description": "Set to true to enable the realism effect for AI fonts.",
            "example": true
          },
          "content": {
            "type": "string",
            "description": "Template body content.",
            "example": "Hey %FIRST_NAME%!,\n\nTHANK YOU for allowing us the opportunity to HELP you with your plan!"
          },
          "sub_account_id": {
            "type": ["integer", "null"],
            "description": "ID of the sub-account to associate with this template.",
            "example": 7
          },
          "additional_pages": {
            "type": "string",
            "format": "uri",
            "description": "URL to additional pages to include with the cover letter. Only valid for letter templates.",
            "example": "https://example.com/additional-pages.pdf"
          },
          "pdf_only_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to PDF file to use for entire mailer. If this is specified, no cover letter is generated.  Valid for letter templates only. Providing this URL automatically sets skip_creative_generation to true.",
            "example": "https://example.com/mailer.pdf"
          },
          "custom_background_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of a custom background image for the template. Only valid for postcard backs and the interior background of notecards and giftcards.",
            "example": "https://example.com/background.png"
          },
          "qrcode_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the QR code image to use for the template.",
            "example": "https://www.thanks.io"
          },
          "cc_emails": {
            "type": "array",
            "description": "List of email addresses to CC when a QR code is scanned",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "giftcard_brand_code": {
            "type": "string",
            "description": "Brand code of the gift card. Required when type is giftcard.",
            "example": "amazonus"
          },
          "giftcard_amount": {
            "type": "integer",
            "description": "Amount of the gift card in cents. Required when type is giftcard. Use this field for public v2 requests instead of giftcard_amount_in_cents.",
            "example": 5000
          },
          "landing_page_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the gated landing page (also known as a gating URL). Recipients must visit this page before they can redeem the gift card, letting you gate redemption behind an action such as booking a demo or completing a form. Only valid for giftcards.",
            "example": "https://example.com/landing"
          }
        },
        "allOf": [
          {
            "if": {
              "properties": { "type": { "const": "giftcard" } },
              "required": ["type"]
            },
            "then": {
              "required": ["giftcard_brand_code", "giftcard_amount"]
            }
          }
        ]
      },
      "message-template-update": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the message template"
          },
          "handwriting_style_id": {
            "type": "integer",
            "description": "Handwriting style ID for the message template",
            "example": 4
          },
          "font_color": {
            "type": "string",
            "description": "Handwriting color to use",
            "example": "rgba(31,0,113,0.80)"
          },
          "handwriting_realism": {
            "type": "boolean",
            "description": "Set to true to enable the realism effect for AI fonts.",
            "example": true
          },
          "content": {
            "type": "string",
            "description": "Updated template body content"
          },
          "type": {
            "type": "string",
            "example": "notecard",
            "enum": [
              "postcard",
              "postcard6x11",
              "letter",
              "windowlessletter",
              "notecard",
              "giftcard",
              "magnacard"
            ],
            "description": "Type of the message template"
          },
          "sub_account_id": {
            "type": ["integer", "null"],
            "description": "ID of the sub-account to associate with this template."
          },
          "additional_pages": {
            "type": "string",
            "format": "uri",
            "description": "Updated additional PDF URL for the template"
          },
          "pdf_only_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to PDF file to use for entire mailer. If this is specified, no cover letter is generated.  Valid for letter templates only. Providing this URL automatically sets skip_creative_generation to true."
          },
          "custom_background_url": {
            "type": "string",
            "format": "uri",
            "description": "Updated custom background image URL. Only valid for postcard backs and the interior background of notecards and giftcards."
          },
          "qrcode_url": {
            "type": "string",
            "format": "uri",
            "description": "Updated QR code image URL"
          },
          "cc_emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "giftcard_brand_code": {
            "type": "string",
            "description": "Updated gift card brand code. Required when type is giftcard."
          },
          "giftcard_amount": {
            "type": "integer",
            "description": "Updated gift card amount in cents. Required when type is giftcard."
          },
          "landing_page_url": {
            "type": "string",
            "format": "uri",
            "description": "Updated gated landing page URL (also known as a gating URL). Recipients must visit this page before they can redeem the gift card, letting you gate redemption behind an action such as booking a demo or completing a form. Only valid for giftcards."
          }
        }
      },
      "recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 18113288,
            "readOnly": true
          },
          "mailing_list_id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Tobias Example"
          },
          "company": {
            "type": "string",
            "example": "www.thanks.io"
          },
          "address": {
            "type": "string",
            "example": "123 Main Street"
          },
          "address2": {
            "type": "string",
            "example": "Apartment 1"
          },
          "city": {
            "type": "string",
            "example": "Any Town"
          },
          "province": {
            "type": "string",
            "description": "State or Province",
            "example": "KS"
          },
          "postal_code": {
            "type": "string",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "dob": {
            "type": "string",
            "description": "Date of Birth in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "1981-04-23"
          },
          "anniversary": {
            "type": "string",
            "description": "Can be used for house purchase anniversaries, move-in dates, or any recurring annual milestone.  Anniversary date in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "2025-07-21"
          },
          "email": {
            "type": "string",
            "example": "tobias@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1 (555) 123-4567"
          },
          "custom1": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Unique Info"
          },
          "custom2": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "For example a product code or customer ID"
          },
          "custom3": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "custom4": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "mailing-list": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/mailing-list"
              }
            ],
            "description": "The mailing list this recipient belongs to"
          },
          "created_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          },
          "updated_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          }
        }
      },
      "recipient-no-mailinglist": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Tobias Example"
          },
          "company": {
            "type": "string",
            "example": "www.thanks.io"
          },
          "address": {
            "type": "string",
            "example": "123 Main Street"
          },
          "address2": {
            "type": "string",
            "example": "Apartment 1"
          },
          "city": {
            "type": "string",
            "example": "Any Town"
          },
          "province": {
            "type": "string",
            "description": "State or Province",
            "example": "KS"
          },
          "postal_code": {
            "type": "string",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "dob": {
            "type": "string",
            "description": "Date of Birth in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "1981-04-23"
          },
          "anniversary": {
            "type": "string",
            "description": "Can be used for house purchase anniversaries, move-in dates, or any recurring annual milestone.  Anniversary date in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "2025-07-21"
          },
          "email": {
            "type": "string",
            "example": "tobias@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1 (555) 123-4567"
          },
          "custom1": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Unique Info"
          },
          "custom2": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "For example a product code or customer ID"
          },
          "custom3": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "custom4": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          }
        }
      },
      "recipient-create": {
        "type": "object",
        "anyOf": [
          {
            "title": "Create Recipient by Address",
            "description": "Create a recipient by providing address details",
            "required": ["mailing_list_id", "address"]
          },
          {
            "title": "Create Recipient by Email",
            "description": "Create a recipient by providing email address",
            "required": ["mailing_list_id", "email"]
          }
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 18113288,
            "readOnly": true
          },
          "mailing_list_id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Tobias Example"
          },
          "company": {
            "type": "string",
            "example": "www.thanks.io"
          },
          "address": {
            "type": "string",
            "example": "123 Main Street"
          },
          "address2": {
            "type": "string",
            "example": "Apartment 1"
          },
          "city": {
            "type": "string",
            "example": "Any Town"
          },
          "province": {
            "type": "string",
            "description": "State or Province",
            "example": "KS"
          },
          "postal_code": {
            "type": "string",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "dob": {
            "type": "string",
            "description": "Date of Birth in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "1981-04-23"
          },
          "anniversary": {
            "type": "string",
            "description": "Can be used for house purchase anniversaries, move-in dates, or any recurring annual milestone.  Anniversary date in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "2025-07-21"
          },
          "email": {
            "type": "string",
            "example": "tobias@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1 (555) 123-4567"
          },
          "custom1": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Unique Info"
          },
          "custom2": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "For example a product code or customer ID"
          },
          "custom3": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "custom4": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "mailing-list": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/mailing-list"
              }
            ],
            "description": "The mailing list this recipient belongs to"
          },
          "created_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          },
          "updated_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          }
        }
      },
      "recipient-create-no-mailinglist": {
        "type": "object",
        "anyOf": [
          {
            "title": "Create Recipient by Address",
            "description": "Create a recipient by providing address details",
            "required": ["mailing_list_id", "address"]
          },
          {
            "title": "Create Recipient by Email",
            "description": "Create a recipient by providing email address",
            "required": ["mailing_list_id", "email"]
          }
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Tobias Example"
          },
          "company": {
            "type": "string",
            "example": "www.thanks.io"
          },
          "address": {
            "type": "string",
            "example": "123 Main Street"
          },
          "address2": {
            "type": "string",
            "example": "Apartment 1"
          },
          "city": {
            "type": "string",
            "example": "Any Town"
          },
          "province": {
            "type": "string",
            "description": "State or Province",
            "example": "KS"
          },
          "postal_code": {
            "type": "string",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "dob": {
            "type": "string",
            "description": "Date of Birth in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "1981-04-23"
          },
          "anniversary": {
            "type": "string",
            "description": "Can be used for house purchase anniversaries, move-in dates, or any recurring annual milestone.  Anniversary date in ISO 8601 format (YYYY-MM-DD) or null if not set. If provided as MM/DD/YYYY in requests, it will be converted to ISO 8601 format.",
            "example": "2025-07-21"
          },
          "email": {
            "type": "string",
            "example": "tobias@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1 (555) 123-4567"
          },
          "custom1": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Unique Info"
          },
          "custom2": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "For example a product code or customer ID"
          },
          "custom3": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "custom4": {
            "type": "string",
            "description": "Custom field for additional information about the recipient",
            "example": "Any Extra Info"
          },
          "mailing-list": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/mailing-list"
              }
            ],
            "description": "The mailing list this recipient belongs to"
          },
          "created_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          },
          "updated_at": {
            "readOnly": true,
            "type": "string",
            "example": "2025-06-27T14:57:11.000000Z"
          }
        }
      },
      "recipient-array": {
        "type": "array",
        "description": "Array of recipient objects",
        "items": {
          "$ref": "#/components/schemas/recipient"
        }
      },

      "sub-account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "user_id": {
            "type": "integer",
            "example": 2
          },
          "title": {
            "type": "string",
            "example": "My Sub Account"
          },
          "return_name": {
            "type": "string",
            "example": "John Smith"
          },
          "return_address": {
            "type": "string",
            "example": "123 Smith Street"
          },
          "return_address2": {
            "type": "string",
            "example": "Apartment 2"
          },
          "return_city": {
            "type": "string",
            "example": "Denver"
          },
          "return_state": {
            "type": "string",
            "example": "CO"
          },
          "return_postal_code": {
            "type": "string",
            "example": "12345"
          }
        }
      },
      "sub-account-create": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string",
            "example": "My Sub Account"
          },
          "return_name": {
            "type": "string",
            "example": "John Smith"
          },
          "return_address": {
            "type": "string",
            "example": "123 Smith Street"
          },
          "return_address2": {
            "type": "string",
            "example": "Apartment 2"
          },
          "return_city": {
            "type": "string",
            "example": "Denver"
          },
          "return_state": {
            "type": "string",
            "example": "CO"
          },
          "return_postal_code": {
            "type": "string",
            "example": "12345"
          }
        }
      },

      "links": {
        "type": "object",
        "properties": {
          "first": {
            "type": ["string", "null"],
            "description": "URL of the first page of results"
          },
          "last": {
            "type": ["string", "null"],
            "description": "URL of the last page of results"
          },
          "prev": {
            "type": ["string", "null"],
            "description": "URL of the previous page of results"
          },
          "next": {
            "type": ["string", "null"],
            "description": "URL of the next page of results"
          }
        }
      },
      "meta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "example": 1,
            "description": "Current page number"
          },
          "from": {
            "type": ["integer", "null"],
            "example": 1,
            "description": "Index of the first item on the current page"
          },
          "last_page": {
            "type": "integer",
            "example": 1,
            "description": "Total number of pages"
          },
          "path": {
            "type": "string",
            "description": "Base URL for the resource"
          },
          "per_page": {
            "type": "integer",
            "example": 25,
            "description": "Number of items per page"
          },
          "to": {
            "type": ["integer", "null"],
            "example": 1,
            "description": "Index of the last item on the current page"
          },
          "total": {
            "type": "integer",
            "example": 1,
            "description": "Total number of items"
          }
        }
      },
      "paginated": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "example": 1,
            "description": "Current page number"
          },
          "first_page_url": {
            "type": ["string", "null"],
            "description": "URL of the first page of results",
            "example": "https://api.thanks.io/api/v2/mailing-lists-utils/recipients/3014?page=1"
          },
          "from": {
            "type": "integer",
            "example": 1,
            "description": "Index of the first item on the current page"
          },
          "last_page": {
            "type": "integer",
            "example": 1,
            "description": "Total number of pages"
          },
          "last_page_url": {
            "type": ["string", "null"],
            "description": "URL of the last page of results",
            "example": "https://api.thanks.io/api/v2/mailing-lists-utils/recipients/3014?page=1"
          },
          "next_page_url": {
            "type": ["string", "null"],
            "description": "URL of the next page of results"
          },
          "path": {
            "type": "string",
            "description": "Base URL for the resource",
            "example": "https://api.thanks.io/api/v2/mailing-lists-utils/recipients/3014"
          },
          "per_page": {
            "type": "integer",
            "example": 50,
            "description": "Number of items per page"
          },
          "prev_page_url": {
            "type": ["string", "null"],
            "description": "URL of the previous page of results"
          },
          "to": {
            "type": "integer",
            "example": 12,
            "description": "Index of the last item on the current page"
          },
          "total": {
            "type": "integer",
            "example": 12,
            "description": "Total number of items"
          }
        }
      },
      "send-mailer-base": {
        "type": "object",
        "properties": {
          "preview": {
            "type": "boolean",
            "description": "Set to true to return a preview instead of sending the mail piece. You can use this with any send call to inspect the output before submitting the order.",
            "example": true
          },
          "mailing_list_ids": {
            "type": "array",
            "description": "Mailing list IDs to send to. Required if `recipients` and `radius_search` are not provided.",
            "items": {
              "type": "integer"
            },
            "example": [5166, 514]
          },
          "recipients": {
            "type": "array",
            "description": "Recipients to send to. Required if `mailing_list_ids` and `radius_search` are not provided.",
            "items": {
              "$ref": "#/components/schemas/recipient-create-no-mailinglist"
            }
          },
          "radius_search": {
            "type": "object",
            "description": "Use a radius search to find recipients near an address. Required if `mailing_list_ids` and `recipients` are not provided. Lookup fees are $0.05 per record.",
            "properties": {
              "preview": {
                "type": "boolean",
                "description": "Return a preview of the number of matching recipients and the estimated cost.",
                "default": false
              },
              "address": {
                "type": "string",
                "example": "123 Main Street, Fake City, NY, 55555",
                "description": "Full street address to use as the center point of the nearest-neighbor search."
              },
              "record_count": {
                "type": "integer",
                "description": "Number of nearby records to return.",
                "minimum": 1,
                "maximum": 10000,
                "example": 1
              },
              "record_types": {
                "type": "string",
                "description": "Record type to search for",
                "enum": [
                  "all",
                  "likelytomove",
                  "likelytorefi",
                  "absenteeowner",
                  "highnetworth",
                  "majorityhomeequity",
                  "homefreeclear",
                  "underwater",
                  "kidsinhousehold",
                  "newhomeowner",
                  "firsttimehomebuyer",
                  "renters",
                  "retiring",
                  "retired",
                  "pool",
                  "onlybusinesses",
                  "newbusiness"
                ],
                "default": "all"
              },
              "include_condos": {
                "type": "boolean",
                "description": "Include condos in search.",
                "default": false
              },
              "append_data": {
                "type": "boolean",
                "description": "Append phone and email to each record for an additional fee ($.20 per record).",
                "default": false
              },
              "use_property_owner": {
                "type": "boolean",
                "description": "Use the property owner's address when searching commercial records.",
                "default": false
              },
              "include_search_address": {
                "type": "boolean",
                "description": "Set to true to include the search address in the generated mailing list."
              }
            }
          },
          "handwriting_style_id": {
            "type": "integer",
            "description": "ID of handwriting style to use.",
            "example": 4
          },
          "handwriting_color": {
            "type": "string",
            "description": "Handwriting color to use. Options are preset named colors or specified as hex format, such as '#4287f5'",
            "enum": ["blue", "black", "green", "purple", "red"],
            "examples": ["blue", "#4287f5"]
          },
          "handwriting_realism": {
            "type": "boolean",
            "description": "Set to true to enable the realism effect for AI fonts.",
            "example": true
          },
          "sub_account": {
            "type": "integer",
            "description": "Sub-account ID to use for this order.",
            "example": 7
          },
          "notification_emails": {
            "type": "string",
            "description": "Optional comma-separated list of email addresses to notify about order events such as QR scan notifications.",
            "example": "ops@example.com,sales@example.com"
          },
          "send_standard_mail": {
            "type": "boolean",
            "description": "Set to true to use Standard Mail postage. If false or omitted, account default is used.",
            "default": false
          },
          "return_name": {
            "type": "string",
            "description": "Custom return name for the order.",
            "example": "Custom Return"
          },
          "return_address": {
            "type": "string",
            "description": "Custom return address for the order.",
            "example": "1 Main Street"
          },
          "return_address2": {
            "type": "string",
            "description": "Custom return address line 2 for the order.",
            "example": "Unit 1"
          },
          "return_city": {
            "type": "string",
            "description": "Custom return city for the order.",
            "example": "Woodbridge"
          },
          "return_state": {
            "type": "string",
            "description": "Custom return state/province for the order.",
            "example": "NJ"
          },
          "return_postal_code": {
            "type": "string",
            "description": "Custom return postal code for the order.",
            "example": "07095"
          },
          "metadata": {
            "type": ["object", "null"],
            "description": "Your own key/value data to store with the order. It is returned unchanged by the order endpoints and included in every webhook event for the order as `order.metadata`. Must be a JSON object rather than an array, and no larger than 8,192 bytes once encoded as JSON. thanks.io does not print or otherwise act on these values.",
            "additionalProperties": true,
            "example": {
              "crm_deal_id": "D-1042",
              "campaign": "spring-winback",
              "source": "hubspot"
            }
          }
        }
      },
      "send-mailer-order-response": {
        "type": "object",
        "title": "Send Mailer Order Submitted Response",
        "description": "Response when an Order is successfully submitted to Send Mailer",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the order",
            "example": 42664
          },
          "user_id": {
            "type": "integer",
            "description": "User ID for the order",
            "example": 2
          },
          "sub_account": {
            "description": "Sub-account Info For Order.  Can be null",
            "allOf": [
              {
                "$ref": "#/components/schemas/sub-account"
              }
            ],
            "type": ["object", "null"]
          },
          "sub_account_id": {
            "type": ["integer", "null"],
            "description": "Sub account ID for the order",
            "example": 12345
          },

          "total_estimated_recipients": {
            "type": "integer",
            "description": "Total estimated recipients for the order",
            "example": 1
          },
          "authorization_total": {
            "type": "integer",
            "description": "Total authorization amount for the order in cents",
            "example": 58
          },
          "leads_fee": {
            "type": "integer",
            "description": "Total leads fee for the order in cents",
            "example": 99
          },

          "mailing_list_ids_used": {
            "type": "string",
            "description": "Mailing lists used for the order.  Can be null if recipients or radius search is used.",
            "example": "3046,3020"
          },
          "recipients": {
            "type": "array",
            "description": "List of recipients for the order",
            "items": {
              "$ref": "#/components/schemas/recipient-no-mailinglist"
            }
          },

          "front_image": {
            "type": "string",
            "description": "Front image URL for the order",
            "example": "https://s3.amazonaws.com/cdn.thanks.io/user_image_library/1533645532.png"
          },
          "image_template_id": {
            "type": ["integer", "null"],
            "description": "Image template ID for the order",
            "example": 6
          },
          "custom_background_url": {
            "type": ["string", "null"],
            "description": "Custom background URL for the order. Only valid for postcard backs and the interior background of notecards and giftcards.",
            "example": "https://s3.amazonaws.com/content.thanks.io/templates/branding-builder-images/c09d39aadfc-3701d4467b8/4524cce0-78cb-11f0-b937-17570cbedaf4.png"
          },

          "message": {
            "type": "string",
            "description": "Message content for the order",
            "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          },
          "message_template_id": {
            "type": ["integer", "null"],
            "description": "Message template ID for the order",
            "example": 12345
          },
          "handwriting_color": {
            "type": "string",
            "description": "Handwriting color to use",
            "example": "rgba(31,0,113,0.80)"
          },
          "font_size": {
            "type": "string",
            "description": "Font size for the order",
            "enum": ["auto", "small", "medium", "large"],
            "example": "auto"
          },
          "style": {
            "type": "integer",
            "description": "Handwriting style ID for the order",
            "example": 4
          },
          "append_or_current_resident": {
            "type": "boolean",
            "description": "Appended \"Or Current Resident\" for the order.  This is helpful if you want to ensure delivery.",
            "example": false
          },

          "return_name": {
            "type": ["string", "null"],
            "description": "Return name for the order",
            "example": "John Doe"
          },
          "return_address": {
            "type": ["string", "null"],
            "description": "Return address line 1 for the order",
            "example": "123 Main Street"
          },
          "return_address2": {
            "type": ["string", "null"],
            "description": "Return address line 2 for the order",
            "example": null
          },
          "return_city": {
            "type": ["string", "null"],
            "description": "Return city for the order",
            "example": "Anytown"
          },
          "return_province": {
            "type": ["string", "null"],
            "description": "Return state/province for the order",
            "example": "NY"
          },
          "return_postal_code": {
            "type": ["string", "null"],
            "description": "Return postal code for the order",
            "example": "12345"
          },

          "type": {
            "type": "string",
            "description": "Type of the order",
            "enum": [
              "postcard",
              "postcard6x11",
              "letter",
              "notecard",
              "giftcard",
              "windowlessletter"
            ],
            "example": "postcard"
          },
          "size": {
            "type": "string",
            "description": "Size of the order (valid for postcards only)",
            "enum": ["4x6", "6x9", "6x11"],
            "example": "4x6"
          },
          "method": {
            "type": "string",
            "description": "Method for the order",
            "enum": ["api", "cardbuilder", "drip", "email", "zapier"]
          },
          "status": {
            "type": "string",
            "description": "Status of the order",
            "enum": [
              "reviewing",
              "processing",
              "fulfilled",
              "cancelled",
              "printed",
              "shipped",
              "paused",
              "delivered"
            ]
          },
          "display_status": {
            "type": "string",
            "description": "Display status for the order",
            "example": "Reviewing"
          },
          "display_trigger": {
            "type": "string",
            "description": "Display trigger for the order",
            "example": "API"
          },
          "display_type": {
            "type": "string",
            "description": "Display type for the order",
            "example": "Postcard-4x6"
          },

          "addons": {
            "type": ["object", "null"],
            "description": "Add-ons for the order",
            "properties": {
              "standardmail": {
                "type": "string",
                "description": "Standard mail add-on status",
                "enum": ["on", "off"],
                "example": "on"
              }
            }
          },
          "qrcode_url": {
            "type": ["string", "null"],
            "description": "QR code URL for the order",
            "example": "https://www.google.com?name=~FULL_NAME~&custom_field_1=~CUSTOM1~&custom_field2=~CUSTOM2~"
          },

          "giftcard_brand": {
            "type": ["string", "null"],
            "description": "Gift card brand for the order (valid for Giftcard orders only)",
            "example": null
          },
          "giftcard_image": {
            "type": ["string", "null"],
            "description": "Gift card image URL for the order (valid for Giftcard orders only)",
            "example": null
          },
          "giftcard_amount": {
            "type": ["integer", "null"],
            "description": "Gift card amount for the order in cents (valid for Giftcard orders only)",
            "example": null
          },
          "giftcard_brand_longname": {
            "type": "string",
            "description": "Gift card brand long name for the order (valid for Giftcard orders only)",
            "example": "Amazon.com"
          },
          "metadata": {
            "type": ["object", "null"],
            "description": "The metadata object submitted with the order, returned exactly as it was sent. Null when the order was created without metadata.",
            "additionalProperties": true,
            "example": {
              "crm_deal_id": "D-1042",
              "campaign": "spring-winback",
              "source": "hubspot"
            }
          },

          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated timestamp for the order",
            "example": "2025-08-14 16:42:44"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp for the order",
            "example": "2025-08-14 16:42:44"
          }
        }
      },
      "send-mailer-preview-response": {
        "type": "object",
        "title": "Send Mailer Preview Response",
        "description": "Preview image URLs returned when `preview` is set to `true`.",
        "properties": {
          "message": {
            "type": "string",
            "example": "OK",
            "description": "Response message"
          },
          "data": {
            "type": "object",
            "description": "Preview data containing image URLs",
            "properties": {
              "previews": {
                "type": "array",
                "description": "Array of preview image URLs",
                "items": {
                  "type": "string",
                  "format": "uri",
                  "example": "https://s3.amazonaws.com/cdn.thanks.io/preview/12345.png"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Access token is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "UserError": {
        "description": "User error occurred",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Sub Account ID does not exist"
                }
              }
            }
          }
        }
      },
      "UnknownError": {
        "description": "An unknown error occurred",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Error Submitting Mailer"
                }
              }
            }
          }
        }
      },
      "MailingListDoesNotExist": {
        "description": "The specified mailing list does not exist",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Mailing List Does Not Exist"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Not Found"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using your thanks.io API key"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Recipients"
    },
    {
      "name": "Mailing Lists"
    },
    {
      "name": "Send Mailer"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Message Templates"
    },
    {
      "name": "Image Templates"
    },
    {
      "name": "Handwriting Styles"
    },
    {
      "name": "Giftcards"
    },
    {
      "name": "Dynamic Images",
      "description": ""
    },
    {
      "name": "Image Builder"
    },
    {
      "name": "Sub Accounts"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Webhook Events"
    }
  ],
  "webhooks": {
    "orderItemStatusUpdate": {
      "post": {
        "tags": ["Webhook Events"],
        "summary": "Order Item Status Change Webhook",
        "description": "Sent when an order item changes status. The payload includes the recipient, order, and order item context for the affected mail piece.",
        "operationId": "orderItemStatusUpdateWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_type": {
                    "type": "string",
                    "example": "order_item.status_update"
                  },
                  "event_id": {
                    "type": "string",
                    "example": "7199e4e0-516b-11f0-ba5f-f135ea42fb62"
                  },
                  "data": {
                    "$ref": "#/components/schemas/webhook-order-item-status-update-payload"
                  },
                  "timestamp": {
                    "type": "integer",
                    "example": 1750818235
                  },
                  "date_time": {
                    "type": "string",
                    "example": "2025-06-25 02:23:55"
                  }
                },
                "required": ["event_type", "event_id", "data", "timestamp", "date_time"]
              },
              "example": {
                "event_type": "order_item.status_update",
                "event_id": "7199e4e0-516b-11f0-ba5f-f135ea42fb62",
                "data": {
                  "order_item.id": 2668662,
                  "order_item.scans": null,
                  "order_item.failure": null,
                  "recipient.name": "John Doe",
                  "recipient.company": null,
                  "recipient.address": "123 Fake St",
                  "recipient.address2": null,
                  "recipient.absentee_address": null,
                  "recipient.city": "Any Town",
                  "recipient.province": "NY",
                  "recipient.postal_code": "12345",
                  "recipient.country": "US",
                  "recipient.email": null,
                  "recipient.phone": null,
                  "recipient.custom_1": "Example Custom 1",
                  "recipient.custom_2": "Example Custom 2",
                  "recipient.custom_3": "Example Custom 3",
                  "recipient.custom_4": "Example Custom 4",
                  "recipient.custom_5": "Example Custom 5",
                  "recipient.custom_6": "Example Custom 6",
                  "recipient.custom_7": "Example Custom 7",
                  "recipient.custom_8": "Example Custom 8",
                  "recipient.custom_9": "Example Custom 9",
                  "recipient.custom_10": "Example Custom 10",
                  "order.id": 42399,
                  "order.sub_account_id": 5,
                  "order.status": "Printing",
                  "order.metadata": {
                    "crm_deal_id": "D-1042"
                  },
                  "order_item.delivery_date": "2025-07-05",
                  "order_item.previous_status": null,
                  "order_item.current_status": "Processing"
                },
                "timestamp": 1750818235,
                "date_time": "2025-06-25 02:23:55"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      }
    },
    "orderStatusUpdate": {
      "post": {
        "tags": ["Webhook Events"],
        "summary": "Order Status Change Webhook",
        "description": "Sent when an order changes status. The payload includes the affected order identifier and its updated status.",
        "operationId": "orderStatusUpdateWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_type": {
                    "type": "string",
                    "example": "order.status_update"
                  },
                  "event_id": {
                    "type": "string",
                    "example": "a8a59df0-516d-11f0-9ca2-31daad0e4f7f"
                  },
                  "data": {
                    "$ref": "#/components/schemas/webhook-order-status-update-payload"
                  },
                  "timestamp": {
                    "type": "integer",
                    "example": 1750819187
                  },
                  "date_time": {
                    "type": "string",
                    "example": "2025-06-25 02:39:47"
                  }
                },
                "required": ["event_type", "event_id", "data", "timestamp", "date_time"]
              },
              "example": {
                "event_type": "order.status_update",
                "event_id": "a8a59df0-516d-11f0-9ca2-31daad0e4f7f",
                "data": {
                  "order.id": 42401,
                  "order.status": "Printing",
                  "order.previous_status": "reviewing",
                  "order.current_status": "processing",
                  "order.metadata": {
                    "crm_deal_id": "D-1042"
                  }
                },
                "timestamp": 1750819187,
                "date_time": "2025-06-25 02:39:47"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      }
    },
    "orderItemDelivered": {
      "post": {
        "tags": ["Webhook Events"],
        "summary": "Order Item Delivered Webhook",
        "description": "Sent when a mail piece is delivered. The payload includes the recipient, order, and order item state at delivery.",
        "operationId": "orderItemDeliveredWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_type": {
                    "type": "string",
                    "example": "order_item.delivered"
                  },
                  "event_id": {
                    "type": "string",
                    "example": "7199e4e0-516b-11f0-ba5f-f135ea42fb62"
                  },
                  "data": {
                    "$ref": "#/components/schemas/webhook-order-item-delivered-payload"
                  },
                  "timestamp": {
                    "type": "integer",
                    "example": 1750818235
                  },
                  "date_time": {
                    "type": "string",
                    "example": "2025-06-25 02:23:55"
                  }
                },
                "required": ["event_type", "event_id", "data", "timestamp", "date_time"]
              },
              "example": {
                "event_type": "order_item.delivered",
                "event_id": "7199e4e0-516b-11f0-ba5f-f135ea42fb62",
                "data": {
                  "order_item.id": 2668662,
                  "order_item.scans": null,
                  "order_item.failure": null,
                  "recipient.name": "John Doe",
                  "recipient.company": null,
                  "recipient.address": "123 Fake St",
                  "recipient.address2": null,
                  "recipient.absentee_address": null,
                  "recipient.city": "Any Town",
                  "recipient.province": "NY",
                  "recipient.postal_code": "12345",
                  "recipient.country": "US",
                  "recipient.email": null,
                  "recipient.phone": null,
                  "recipient.custom_1": "Example Custom 1",
                  "recipient.custom_2": "Example Custom 2",
                  "recipient.custom_3": "Example Custom 3",
                  "recipient.custom_4": "Example Custom 4",
                  "recipient.custom_5": "Example Custom 5",
                  "recipient.custom_6": "Example Custom 6",
                  "recipient.custom_7": "Example Custom 7",
                  "recipient.custom_8": "Example Custom 8",
                  "recipient.custom_9": "Example Custom 9",
                  "recipient.custom_10": "Example Custom 10",
                  "order.id": 42399,
                  "order.sub_account_id": 5,
                  "order.status": "Printing",
                  "order.metadata": {
                    "crm_deal_id": "D-1042"
                  },
                  "order_item.delivery_date": "2025-07-05",
                  "order_item.previous_status": "Shipped",
                  "order_item.current_status": "Delivered"
                },
                "timestamp": 1750818235,
                "date_time": "2025-06-25 02:23:55"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      }
    },
    "qrCodeScanUpdate": {
      "post": {
        "tags": ["Webhook Events"],
        "summary": "QR Code Scan Webhook",
        "description": "Sent when a recipient scans a thanks.io QR code on a mailer. The payload includes the scan context plus the QR code destination URL.",
        "operationId": "qrCodeScanUpdateWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_type": {
                    "type": "string",
                    "example": "scans.scan_update"
                  },
                  "event_id": {
                    "type": "string",
                    "example": "c4e1aa40-516a-11f0-94e9-4b4494619f64"
                  },
                  "data": {
                    "$ref": "#/components/schemas/webhook-scan-update-payload"
                  },
                  "timestamp": {
                    "type": "integer",
                    "example": 1750817946
                  },
                  "date_time": {
                    "type": "string",
                    "example": "2025-06-25 02:19:06"
                  }
                },
                "required": ["event_type", "event_id", "data", "timestamp", "date_time"]
              },
              "example": {
                "event_type": "scans.scan_update",
                "event_id": "c4e1aa40-516a-11f0-94e9-4b4494619f64",
                "data": {
                  "order_item.id": 2668661,
                  "order_item.scans": 4,
                  "order_item.failure": null,
                  "recipient.name": "John Doe",
                  "recipient.company": null,
                  "recipient.address": "123 Fake St",
                  "recipient.address2": null,
                  "recipient.absentee_address": null,
                  "recipient.city": "Any Town",
                  "recipient.province": "NY",
                  "recipient.postal_code": "12345",
                  "recipient.country": "US",
                  "recipient.email": null,
                  "recipient.phone": null,
                  "recipient.custom_1": "Example Custom 1",
                  "recipient.custom_2": "Example Custom 2",
                  "recipient.custom_3": "Example Custom 3",
                  "recipient.custom_4": "Example Custom 4",
                  "recipient.custom_5": "Example Custom 5",
                  "recipient.custom_6": "Example Custom 6",
                  "recipient.custom_7": "Example Custom 7",
                  "recipient.custom_8": "Example Custom 8",
                  "recipient.custom_9": "Example Custom 9",
                  "recipient.custom_10": "Example Custom 10",
                  "order.id": 42398,
                  "order.sub_account_id": 5,
                  "order.status": "Fulfilled",
                  "order.metadata": {
                    "crm_deal_id": "D-1042"
                  },
                  "order_item.delivery_date": "2025-06-05",
                  "order_item.current_status": "Processing",
                  "qrcode.url": "https://www.google.com"
                },
                "timestamp": 1750817946,
                "date_time": "2025-06-25 02:19:06"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      }
    }
  },
  "paths": {
    "/recipients/{recipientId}": {
      "parameters": [
        {
          "name": "recipientId",
          "in": "path",
          "description": "Recipient ID",
          "required": true,
          "schema": {
            "type": "integer",
            "example": 296446
          }
        }
      ],
      "get": {
        "tags": ["Recipients"],
        "operationId": "getRecipientsDetails",
        "summary": "Get Recipient",
        "description": "Get a recipient by ID.",
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient"
                },
                "examples": {
                  "recipient": {
                    "$ref": "#/components/examples/recipient-example"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Recipients"],
        "summary": "Update Recipient",
        "operationId": "updateRecipientDetails",
        "description": "Update details of a specific recipient by ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recipient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient"
                },
                "examples": {
                  "recipient": {
                    "$ref": "#/components/examples/recipient-example"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MailingListDoesNotExist"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Recipients"],
        "operationId": "deleteRecipient",
        "summary": "Delete Recipient",
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "success"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/recipients": {
      "post": {
        "tags": ["Recipients"],
        "operationId": "createRecipient",
        "summary": "Create Recipient",
        "description": "Add a recipient. If you do not provide a valid mailing address but do provide a valid email address, thanks.io can attempt to look up a street address for an additional fee.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recipient-create"
              },
              "examples": {
                "Adding By Address": {
                  "value": {
                    "mailing_list_id": 1,
                    "name": "Tobias Example",
                    "company": "thanks.io",
                    "address": "12345 Main Street",
                    "address2": "Apartment 1",
                    "city": "Any Town",
                    "province": "NY",
                    "postal_code": "12345",
                    "country": "US",
                    "dob": "1981-04-23",
                    "anniversary": "2025-07-21",
                    "email": "tobias@example.com",
                    "phone": "845-988-6485",
                    "custom1": "Unique Info",
                    "custom2": "For example a product code or customer ID",
                    "custom3": "",
                    "custom4": ""
                  }
                },
                "Adding By Email": {
                  "value": {
                    "mailing_list_id": 1,
                    "email": "tobias@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient"
                },
                "examples": {
                  "recipient": {
                    "$ref": "#/components/examples/recipient-example"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MailingListDoesNotExist"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/recipients-utils/create-multiple": {
      "post": {
        "tags": ["Recipients"],
        "operationId": "createMultipleRecipients",
        "summary": "Create Multiple Recipients",
        "description": "Add multiple recipients at once using a JSON array of recipient objects. If a recipient does not include a valid mailing address but does include a valid email address, thanks.io can attempt to look up a street address for an additional fee.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/recipient-create"
                },
                "example": [
                  {
                    "mailing_list": 1,
                    "name": "Tobias First",
                    "address": "987 Main Street",
                    "address2": null,
                    "city": "LENEXA",
                    "province": "KS",
                    "postal_code": "66216",
                    "country": "US",
                    "dob": "04/23/1981",
                    "anniversary": "04/23/2025",
                    "custom1": null,
                    "custom2": null,
                    "email": "testemail@thanks.io",
                    "phone": "1234567890"
                  },
                  {
                    "mailing_list": 1,
                    "email": "another-testemail@thanks.io",
                    "phone": "1234567890"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recipient-array"
                },
                "example": [
                  {
                    "province": "KS",
                    "city": "Lenexa",
                    "name": "Tobias First",
                    "company": null,
                    "dob": "04/23/1981",
                    "anniversary": "04/23/2025",
                    "country": "US",
                    "address": "987 Main Street",
                    "address2": "",
                    "email": "testemail@thanks.io",
                    "phone": "1234567890",
                    "custom1": null,
                    "custom2": null,
                    "postal_code": "66216"
                  },
                  {
                    "province": "KS",
                    "city": "Lenexa",
                    "name": "Tobias Second",
                    "company": null,
                    "dob": "04/23/1981",
                    "anniversary": "04/23/2025",
                    "country": "US",
                    "address": "654 Main Street",
[...]
